@charset 'utf-8';

@import '../../src/css/core/block';

.block-editor-block-types-list__item.editor-block-list-item-snow-monkey-blocks-recent-posts {
  position: relative;

  &::after {
    @include pro-badge();
  }
}
