.smb-section-has-image {
  .smb-section__title {
    text-align: left;

    &::after {
      margin-left: 0;
    }
  }

  [data-is-fluid-template="true"] & {
    &:not(.alignfull) {
      .#{$_prefix}c-container {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}
