.smacb-inner-columns {
  > .editor-inner-blocks {
    > .editor-block-list__layout {
      @include _row();
      @include _row--margin(1);

      > .editor-block-list__block {
        margin-right: 0;
        margin-left: 0;
        padding: 0;
        @include _row__col();
        @include _row__col--margin(1);

        > .editor-block-list__block-edit {
          margin: 0;
        }
      }
    }
  }

  @for $i from 1 through 12 {
    &--#{$i} {
      > .editor-inner-blocks {
        > .editor-block-list__layout {
          > .editor-block-list__block {
            @include _row__col--width(1 / $i * 100%);
          }
        }
      }
    }

    &--md-#{$i} {
      > .editor-inner-blocks {
        > .editor-block-list__layout {
          > .editor-block-list__block {
            @include _media-min(md) {
              @include _row__col--width(1 / $i * 100%);
            }
          }
        }
      }
    }

    &--lg-#{$i} {
      > .editor-inner-blocks {
        > .editor-block-list__layout {
          > .editor-block-list__block {
            @include _media-min(lg) {
              @include _row__col--width(1 / $i * 100%);
            }
          }
        }
      }
    }
  }

  &__col {
    > .editor-inner-blocks {
      > .editor-block-list__layout {
        margin: 0;

        > .editor-block-list__block {
          pointer-events: auto;

          > .editor-block-list__block-edit {
            margin-top: 0;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

[data-type="snow-monkey-awesome-custom-blocks/inner-columns"],
[data-type="snow-monkey-awesome-custom-blocks/inner-columns--column"] {
  pointer-events: none;
}
