.smacb-inner-columns {
  &--row {
    > .editor-inner-blocks {
      > .editor-block-list__layout {
        @include _row();
        @include _row--margin(1);

        > .editor-block-list__block {
          margin-right: 0;
          margin-left: 0;
          @include _row__col(1, 2);
          @include _row__col--margin(1);
        }
      }
    }
  }

  &--column {
  }

  > .editor-inner-blocks {
    > .editor-block-list__layout {
      > .editor-block-list__block {
        padding: 0;

        > .editor-block-list__block-edit {
          margin: 0;
        }
      }
    }
  }

  &__col {
    > .editor-inner-blocks {
      > .editor-block-list__layout {
        margin: 0;

        > .editor-block-list__block {
          pointer-events: auto;

          > .editor-block-list__block-edit {
            margin-top: 0;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

[data-type="snow-monkey-awesome-custom-blocks/inner-columns"],
[data-type="snow-monkey-awesome-custom-blocks/inner-columns--column"] {
  pointer-events: none;
}
