.smb-step {
  &__item__figure {
    position: relative;

    .smb-remove-button {
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }

  .smb-add-item-button-wrapper {
    text-align: center;
  }

  // @todo MediaPlaceholder
  .components-drop-zone,
  .components-form-file-upload {
    display: none !important;
  }
}
