.smb-step {
  &__item__figure {
    position: relative;

    .smb-remove-button {
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }

  .smb-add-item-button-wrapper {
    text-align: center;
  }

  .block-list-appender {
    position: relative;
    top: 14px;
  }
}
