@charset 'utf-8';

@import '../../src/css/core/block';

.smb-step {
  $number-size: 2.5rem;
  $gap-coefficient: 2.5;

  counter-reset: item;

  &__body {
    position: relative;

    > *:not(:first-child) {
      @include _margin-top(1);
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: $_half-leading * 1rem; // For IE11
      top: calc(#{ _var-half-leading() } * 1rem);
      bottom: $_half-leading * 1rem; // For IE11
      bottom: calc(#{ _var-half-leading() } * 1rem);
      left: $number-size / 2;
      border-left: 1px dotted transparent;
      border-left-color: _light($_color-gray); // For IE11
      border-left-color: _var-light-color-gray();
    }
  }

  &__item {
    @include _margin-left($gap-coefficient);

    &__title {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      @include _margin-bottom(.5);
      font-weight: bold;

      > .smb-step__item__number {
        position: absolute;
        top: 50%;
        left: 0;
        @include _margin-left($gap-coefficient * -1);
        //left: calc(#{ _space(-1 * $gap-coefficient, true, true) } + #{ $number-size });
        transform: translateY(-50%);
      }

      > span {
        flex: 1 1 auto;
      }
    }

    &__number {
      @include _circle($number-size);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $_color-text; // For IE11
      background-color: _var-color-text();
      color: $_color-white; // For IE11
      color: _var-color-white();
      font-weight: normal;
      @include _font-size($_base-font-size-px - 4);
      line-height: 1;

      &::before {
        counter-increment: item;
        content: counter(item);
      }

      // Compatibility
      .smb-step__item[data-image-position] & {
        &::before {
          display: none;
        }
      }
    }

    &__summary {
      @include content();
    }

    &__link {
      @include _margin-top(1);
      display: inline-flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      color: $color-accent;

      &__label {
        text-decoration: underline;
      }

      .fa-arrow-circle-right {
        margin-right: .75rem;
      }
    }

    &--image-left,
    &--image-right {
      .smb-step__item__body {
        @include _media-min(md) {
          display: flex;

          > .smb-step__item__figure,
          > .smb-step__item__summary {
            flex: 1 1 auto;
          }

          > .smb-step__item__figure {
            max-width: 33%;
          }
        }
      }
    }

    &--image-left {
      .smb-step__item__figure {
        @include _margin(0, 0, 1);

        @include _media-min(md) {
          @include _margin(0, 1, 0, 0);
        }
      }
    }

    &--image-center {
      .smb-step__item__figure {
        @include _margin(0, 0, 1);
      }
    }

    &--image-right {
      .smb-step__item__body {
        @include _media-min(md) {
          flex-direction: row-reverse;
        }
      }

      .smb-step__item__figure {
        @include _margin(0, 0, 1);

        @include _media-min(md) {
          @include _margin(0, 0, 0, 1);
        }
      }
    }
  }
}
