@charset 'utf-8';

@import '../../src/css/core/block';

.smb-rating-box {
  &__body {
    > *:not(:first-child) {
      @include _margin-top(.5);
    }
  }

  &__item {
    &__title {
      @include _margin-bottom(.125);
    }

    &__evaluation {
      &__bar,
      &__rating {
        height: $_base-font-size-px;
        border-radius: $_border-radius; //for IE11
        border-radius: _var-border-radius();
      }

      &__bar {
        position: relative;
        background-color: _lighter($_color-gray); //for IE11
        background-color: _var-lighter-color-gray();
      }

      &__rating {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #f9bb2d;
      }

      &__numeric {
        position: absolute;
        top: $_base-font-size-px * -1;
        right: 0;
        @include _font-size($_base-font-size-px - 4);
        line-height: 1;
        color: $_color-gray; // For IE11
        color: _var-color-gray();
      }
    }
  }
}
