.smb-section {
  position: relative;

  & + & {
    margin-top: 0 !important;
  }

  &__divider {
    position: absolute;
    right: 0;
    left: 0;
    line-height: 1;
    font-size: 0;

    svg {
      position: absolute;
      right: 0;
      left: 0;
      height: auto;
      width: 100%;
      max-height: 25vh;
    }

    &--top {
      top: -1px;

      svg {
        top: 0;
        transform: rotateZ(180deg);
      }
    }

    &--bottom {
      bottom: -1px;

      svg {
        bottom: 0;
      }
    }

    &--triangle {
      svg {
        margin: 0 auto;
        max-width: 300px;
        max-height: 300px;
        height: auto;
      }
    }
  }

  &__body {
    .#{$_prefix}c-container {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .#{$_prefix}c-container {
    position: relative;
  }

  [data-is-fluid-template="true"] & {
    &:not(.alignfull):not(.alignwide) {
      .#{$_prefix}c-container {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}
