[data-align="full"] {
  > .editor-block-list__block-edit {
    > [data-block] {
      > .smb-section {
        > .#{$_prefix}c-container {
          @include _media-min(600px) {
            padding-right: 62px;
            padding-left: 62px;
          }
        }
      }
    }
  }
}

.smb-section {
  .smb-section__title,
  .smb-section__body .editor-rich-text__tinymce,
  .smb-section__body .block-editor-rich-text__editable {
    color: inherit;
  }
}
