@charset 'utf-8';

@import '../../src/css/core/block';

.smb-section {
  .smb-section__title,
  .smb-section__body .editor-rich-text__tinymce,
  .smb-section__body .block-editor-rich-text__editable {
    color: inherit;
  }
}

$section-container-side-padding: calc(46px + 14px); // = block-editor-block-list__layout + block-editor-block-drop-zone

.smb-section,
.smb-section__inner {
  > .c-container {
    padding-right: 0;
    padding-left: 0;

    &.u-slim-width {
      @include _media-min(600px) {
        padding-left: $section-container-side-padding;
        padding-right: $section-container-side-padding;
      }
    }
  }
}

[data-type^="snow-monkey-blocks/section"][data-align="full"] {
  .smb-section,
  .smb-section__inner {
    > .c-container {
      @include _media-min(600px) {
        padding-left: $section-container-side-padding;
        padding-right: $section-container-side-padding;
      }
    }
  }
}
