@charset 'utf-8';

@import '../../src/css/core/block';

.smb-section {
  position: relative;

  &__background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  &__divider {
    position: absolute;
    right: 0;
    left: 0;
    line-height: 1;
    font-size: 0;

    svg {
      position: absolute;
      right: 0;
      left: 0;
      height: auto;
      width: 100%;
      max-height: 100px;
    }

    &--top {
      top: -1px;

      svg {
        top: 0;
        transform: rotateZ(180deg);
      }
    }

    &--bottom {
      bottom: -1px;

      svg {
        bottom: 0;
      }
    }

    &--triangle {
      svg {
        margin: 0 auto;
        max-width: 200px;
      }
    }
  }

  &__subtitle {
    @include _font-size-line-height($_base-font-size-px - 4);
    text-align: center;
  }

  &__lede {
    display: flex;
    justify-content: center;
    @include _font-size-line-height($_base-font-size-px - 2);
  }

  .#{$_prefix}c-container {
    position: relative;
  }
}
