@charset 'utf-8';

.smb-child-pages {
  display: none !important;
}

.editor-block-types-list__item.editor-block-list-item-snow-monkey-blocks-child-pages {
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    content: 'Pro';
    display: inline-block;
    font-size: 10px;
    line-height: 1;
    color: #fff;
    background-color: #cd3034;
    border-radius: 2px;
    padding: 3px 4px;
  }
}
