@use '../../../node_modules/sass-basis/src/css/core';

.smb-faq {
	--smb-faq--border-color: var(--_lighter-color-gray);
	--smb-faq--label-color: initial;
	--smb-faq--item-gap: var(--_margin1);
	--smb-faq--item-question-label-color: currentColor;
	--smb-faq--item-answer-label-color: currentColor;

	border-top: 1px solid var(--smb-faq--border-color);

	&__item {
		border-bottom: 1px solid var(--smb-faq--border-color);
		padding: var(--_padding1) 0;

		&__question,
		&__answer {
			display: flex;
			flex-wrap: nowrap;
			flex-direction: row;

			&__label {
				flex: 0 0 0%;
				margin-top: calc(var(--_half-leading) * -1em - 0.125em);
				margin-right: var(--smb-faq--item-gap);
				@include core.set-fluid-font-size-level(3);
				font-weight: normal;
				min-width: .8em;
			}

			&__body {
				flex: 1 1 auto;
				margin-top: calc(var(--_half-leading) * -1em);
			}
		}

		&__question {
			margin: 0 0 var(--smb-faq--item-gap);
			font-weight: bold;

			&__label {
				color: var(--smb-faq--item-question-label-color);
			}
		}

		&__answer {
			&__label {
				color: var(--smb-faq--item-answer-label-color);
			}
		}
	}
}

:where(.smb-faq__item__answer__body.is-layout-constrained > *) {
	--wp--style--global--content-size: 100%;
	--wp--style--global--wide-size: 100%;
}
