@charset 'utf-8';

@import '../../src/css/core/block';

.editor-styles-wrapper,
.customize-control-sidebar_block_editor {
  .smb-limited-datetime-placeholder {
    min-height: auto;

    > .components-placeholder__fieldset {
      max-width: none;

      > * {
        flex: 1 1 auto;
      }
    }

    dl {
      display: flex;

      > dt {
        @include _margin-right(.25);
      }
    }

    & + * {
      margin-top: 1em;
    }
  }
}
