@import '../../css/core/block';

.smb-directory-structure {
	--smb-directory-structure--background-color: var(--_lightest-color-gray);

	background-color: var(--smb-directory-structure--background-color);
	padding: var(--_padding1);
	overflow-x: auto;
	overflow-y: hidden;

	> * + * {
		margin-top: var(--_margin-2);
	}

	&__item {
		p {
			display: flex;
			flex-wrap: nowrap;
			align-items: flex-start;
		}
	}

	.fa-fw {
		width: auto;
	}

	&__item__name {
		margin-left: .5em;
		padding-right: var(--_padding1);
		white-space: nowrap;
	}

	&__item__list {
		margin-left: 1.5em;

		> * {
			margin-top: var(--_margin-2);
		}
	}
}
