.smb-categories-list {
  &__list {
    @include _list-unstyled();
  }

  &__item {
    border: 1px solid _lighter($_color-gray);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;

    &:not(:first-child) {
      @include _margin-top(.5);
    }

    @include _media-min(md) {
      width: calc(50% - #{_space(.25)});

      &:nth-child(2) {
        margin-top: 0;
      }

      &:nth-child(2n) {
        transform: translateX(_space(.5));

        h4 {
          &::after {
            right: auto;
            left: 100%;
            @include _triangle-right(8px, 16px, _lighter($_color-gray));
          }
        }
      }

      &:nth-child(2n - 1) {
        h4 {
          order: 1;
        }
      }
    }

    h4 {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: _lighter($_color-gray);
      min-width: 96px;
      @include _padding(.25);
      text-align: center;

      &::after {
        position: absolute;
        right: 100%;
        content: '';
        @include _triangle-left(8px, 16px, _lighter($_color-gray));
      }

      span {
        font-size: .75rem;
        line-height: 1.69565;
      }
    }

    .detail {
      flex-grow: 1;

      h5 {
        margin: 8px 24px 0px 24px;
      }

      a {
        text-decoration: none;
        font-weight: bold;
      }

      .description {
        display: inline-block;
        margin: 8px 24px 8px 24px;
        font-size: .75rem;
        line-height: 1.69565;
      }

      h6 {
        margin: 0 16px;
        font-size: .75rem;
        line-height: 1.86957;
        font-weight: 700;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &:before, &:after {
          display: block;
          content: "";
          height: 1px;
          background-color: #111;
          flex: 1 0 0%;
          min-width: 20px;
        }

        &:before {
          margin-right: .5em;
        }

        &:after {
          margin-left: .5em;
        }
      }

      .latest-articles-list {
        list-style-type: none;

        li {
          a {
            font-size: .75rem;
          }
        }
      }
    }
  }
}
