@charset 'utf-8';

@import '../../src/css/core/block';

.smb-categories-list {
  &__list {
    @include _list-unstyled();

    &.masonry-active {
      .smb-categories-list__item {
        @include _media-min(md) {
          width: calc(50% - #{_space(.25)});

          &:nth-child(2) {
            margin-top: 0;
          }

          &:nth-child(2n) {
            transform: translateX(_space(.5));
          }
        }
      }

      .smb-categories-list__item:nth-child(2n - 1) {
        .smb-categories-list__item__count {
          @include _media-min(md) {
            order: 1;

            &::after {
              left: auto;
              right: 100%;
              @include _triangle-left(8px, 16px, [_lighter($_color-gray), _var-lighter-color-gray()]);
            }
          }
        }
      }
    }
  }

  &__item {
    right: 0; // Masonry width 100% hack
    border: 1px solid transparent;
    border-color: _lighter($_color-gray); // For IE11
    border-color: _var-lighter-color-gray();
    box-sizing: border-box;
    display: flex;
    flex-direction: row;

    &:not(:first-child) {
      @include _margin-top(.5);
    }

    &__count {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: _lighter($_color-gray); // For IE11
      background-color: _var-lighter-color-gray();
      color: $_color-text; // For IE11
      color: _var-color-text();
      @include _padding(.5);
      text-align: center;

      > span {
        white-space: nowrap;
      }

      @include _media-min(lg) {
        @include _padding(1);
      }

      &::after {
        position: absolute;
        left: 100%;
        content: '';
        @include _triangle-right(8px, 16px, [_lighter($_color-gray), _var-lighter-color-gray()]);
      }

      span {
        @include _font-size-line-height($_base-font-size-px - 2);
      }
    }

    &__category-name {
      @include _margin-bottom(.25);
      font-weight: bold;
    }

    &__category-description {
      @include _margin-bottom(.25);
      @include _font-size-line-height($_base-font-size-px - 2);
    }

    &__recent-label {
      @include _margin-top(.5);
      @include _margin-bottom(.25);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      @include _font-size-line-height($_base-font-size-px - 2);
      font-weight: bold;

      &:before, &:after {
        display: block;
        content: "";
        height: 1px;
        background-color: $_color-text; // For IE11
        background-color: _var-color-text();
        flex: 1 0 0%;
        min-width: 20px;
      }

      &:before {
        margin-right: .5em;
      }

      &:after {
        margin-left: .5em;
      }
    }

    &__list {
      @include _list-unstyled();
      @include _font-size-line-height($_base-font-size-px - 2);
      @include _content(.25);
      word-break: break-word;
    }

    &__detail {
      flex-grow: 1;
      @include _padding(1, 1, 1, 1.25);

      @include _media-min(md) {
        .smb-categories-list__item:nth-child(2n - 1) & {
          @include _padding-left(1);
          @include _padding-right(1.25);
        }
      }

      a {
        color: inherit;
        text-decoration: none;

        @include _hover(lg) {
          text-decoration: underline;
        }
      }
    }
  }
}
