@charset 'utf-8';

.editor-styles-wrapper {
  @import 'style';
}

.smb-directory-structure {
  &__item__name {
		padding: 0;

		div {
			display: inline;
		}

		.editor-rich-text__editable,
		.block-editor-rich-text__editable {
			display: inline-block;
			padding: 0 .46739rem;
		}
	}
}
