@import '../../css/core/block';

.smb-spider-contents-slider {
	--smb-spider-contents-slider--slide-background-color: transparent;
	--smb-spider-contents-slider--slide-background-image: initial;
	--smb-spider-contents-slider--slide-color: currentColor;
	--smb-spider-contents-slider--slide-border-width: 0px;
	--smb-spider-contents-slider--slide-border-type: solid;
	--smb-spider-contents-slider--slide-border-color: transparent;
	--smb-spider-contents-slider--slide-border-radius: 0px;
	--smb-spider-contents-slider--slide-box-shadow: none;

	overflow: hidden;

	> .spider {
		> .spider__canvas {
			> .spider__slide {
				background-color: var(--smb-spider-contents-slider--slide-background-color);
				background-image: var(--smb-spider-contents-slider--slide-background-image);
				border: var(--smb-spider-contents-slider--slide-border-width) var(--smb-spider-contents-slider--slide-border-type) var(--smb-spider-contents-slider--slide-border-color);
				border-radius: var(--smb-spider-contents-slider--slide-border-radius);
				box-shadow: var(--smb-spider-contents-slider--slide-box-shadow);
				color: var(--smb-spider-contents-slider--slide-color);
				padding: 0;

				&[data-content-position] {
					> .smb-spider-contents-slider__item {
						height: auto;
					}
				}
			}
		}
	}

	&__item {
		flex: 1 1 100%;
		height: 100%;
		max-width: 100%;
		padding: 0;
		// @include _content();

		&--p-s {
			padding: var(--_padding-1);
		}

		&--p-m {
			padding: var(--_padding1);
		}

		&--p-l {
			padding: var(--_padding2);
		}

		> .smb-section {
			height: 100%;
		}
	}
}
