.smb-spider-contents-slider {
	--smb-spider-contents-slider--slide-background-color: transparent;
	--smb-spider-contents-slider--slide-background-image: initial;
	--smb-spider-contents-slider--slide-color: currentColor;
	--smb-spider-contents-slider--slide-border-width: 0px;
	--smb-spider-contents-slider--slide-border-type: solid;
	--smb-spider-contents-slider--slide-border-color: transparent;
	--smb-spider-contents-slider--slide-border-radius: 0px;
	--smb-spider-contents-slider--slide-box-shadow: none;

	--smb-spider-contents-slider--canvas-offset-top: 0px;
	--smb-spider-contents-slider--canvas-offset-right: 0px;
	--smb-spider-contents-slider--canvas-offset-bottom: 0px;
	--smb-spider-contents-slider--canvas-offset-left: 0px;

	border: none !important;
	overflow: hidden;

	&[data-fade="true"] {
		overflow: visible;

		> .spider {
			margin-right: calc(var(--smb-spider-contents-slider--canvas-offset-right) * -1);
			margin-left: calc(var(--smb-spider-contents-slider--canvas-offset-left) * -1);

			> .spider__arrows > .spider__arrow[data-direction="prev"] {
				left: var(--smb-spider-contents-slider--canvas-offset-left);
			}

			> .spider__arrows > .spider__arrow[data-direction="next"] {
				right: var(--smb-spider-contents-slider--canvas-offset-right);
			}
		}
	}

	> .spider {
		> .spider__canvas {
			> .spider__slide[data-content-position] {
				> .smb-spider-contents-slider__item {
					height: auto;
				}
			}

			&:where(:not([style*="padding\:"])) > .spider__slide {
				padding-top: var(--smb-spider-contents-slider--canvas-offset-top);
				padding-right: var(--smb-spider-contents-slider--canvas-offset-right);
				padding-bottom: var(--smb-spider-contents-slider--canvas-offset-bottom);
				padding-left: var(--smb-spider-contents-slider--canvas-offset-left);
				border: none !important;
				background-color: transparent !important;

				> .smb-spider-contents-slider__item {
					background-color: var(--smb-spider-contents-slider--slide-background-color);
					background-image: var(--smb-spider-contents-slider--slide-background-image);
					border: var(--smb-spider-contents-slider--slide-border-width) var(--smb-spider-contents-slider--slide-border-type) var(--smb-spider-contents-slider--slide-border-color);
					border-radius: var(--smb-spider-contents-slider--slide-border-radius);
					box-shadow: var(--smb-spider-contents-slider--slide-box-shadow);
					color: var(--smb-spider-contents-slider--slide-color);
				}
			}

			// @deprecated
			&:where([style*="padding\:"]) > .spider__slide {
				background-color: var(--smb-spider-contents-slider--slide-background-color);
				background-image: var(--smb-spider-contents-slider--slide-background-image);
				border: var(--smb-spider-contents-slider--slide-border-width) var(--smb-spider-contents-slider--slide-border-type) var(--smb-spider-contents-slider--slide-border-color);
				border-radius: var(--smb-spider-contents-slider--slide-border-radius);
				box-shadow: var(--smb-spider-contents-slider--slide-box-shadow);
				color: var(--smb-spider-contents-slider--slide-color);
				padding: 0;
			}
		}
	}

	&__item {
		flex: 1 1 100%;
		height: 100%;
		max-width: 100%;
		padding: 0;

		&--p-s {
			padding: var(--_padding-1);
		}

		&--p-m {
			padding: var(--_padding1);
		}

		&--p-l {
			padding: var(--_padding2);
		}

		> .smb-section {
			height: 100%;
		}
	}
}

:where(.smb-spider-contents-slider__item.is-layout-constrained > *) {
	--wp--style--global--content-size: 100%;
	--wp--style--global--wide-size: 100%;
}
