@import '../../css/core/block';

.smb-spider-contents-slider {
	overflow: hidden;

	> .spider {
		> .spider__canvas {
			> .spider__slide {
				border: 0 solid transparent;

				&[data-content-position] {
					> .smb-spider-contents-slider__item {
						height: auto;
					}
				}
			}
		}
	}

	&__item {
		flex: 1 1 100%;
		height: 100%;
		max-width: 100%;
		// @include _content();

		&--p-s {
			padding: var(--_padding-1);
		}

		&--p-m {
			padding: var(--_padding1);
		}

		&--p-l {
			padding: var(--_padding2);
		}

		> .smb-section {
			height: 100%;
		}
	}
}
