@use '../../../node_modules/sass-basis/src/css/core';

$alert-color: #fff9e6 !default;

.smb-alert {
	--smb-alert--border-radius: var(--_global--border-radius);
	--smb-alert--background-color: #{ $alert-color };
	--smb-alert--border-color: #{ darken($alert-color, 5%) };
	--smb-alert--color: #{ darken(desaturate($alert-color, 60%), 70%) };
	--smb-alert--padding: var(--_padding1);
	--smb-alert--icon-color: #{ darken($alert-color, 40%) };

	--smb-alert--warning-background-color: #{ adjust-hue($alert-color, -30deg) };
	--smb-alert--warning-border-color: #{ adjust-hue(darken($alert-color, 5%), -30deg) };
	--smb-alert--warning-color: #{ adjust-hue(darken(desaturate($alert-color, 60%), 80%), -30deg) };
	--smb-alert--warning-icon-color: #{ adjust-hue(darken($alert-color, 40%), -30deg) };

	--smb-alert--success-background-color: #{ adjust-hue($alert-color, 40deg) };
	--smb-alert--success-border-color: #{ adjust-hue(darken($alert-color, 10%), 40deg) };
	--smb-alert--success-color: #{ adjust-hue(darken(desaturate($alert-color, 70%), 80%), 40deg) };
	--smb-alert--success-icon-color: #{ adjust-hue(darken($alert-color, 50%), 40deg) };

	--smb-alert--remark-background-color: var(--_lightest-color-gray);
	--smb-alert--remark-border-color: var(--_lighter-color-gray);
	--smb-alert--remark-color: var(--_color-text);
	--smb-alert--remark-icon-color: var(--_color-gray);

	@include core.alert();
	background-color: var(--smb-alert--background-color);
	border: 1px solid var(--smb-alert--border-color);
	border-radius: var(--smb-alert--border-radius);
	color: var(--smb-alert--color);
	padding: var(--smb-alert--padding);

	.svg-inline--fa {
		color: var(--smb-alert--icon-color);
	}

	&--warning {
		--smb-alert--background-color: var(--smb-alert--warning-background-color);
		--smb-alert--border-color: var(--smb-alert--warning-border-color);
		--smb-alert--color: var(--smb-alert--warning-color);
		--smb-alert--icon-color: var(--smb-alert--warning-icon-color);
	}

	&--success {
		--smb-alert--background-color: var(--smb-alert--success-background-color);
		--smb-alert--border-color: var(--smb-alert--success-border-color);
		--smb-alert--color: var(--smb-alert--success-color);
		--smb-alert--icon-color: var(--smb-alert--success-icon-color);
	}

	&--remark {
		--smb-alert--background-color: var(--smb-alert--remark-background-color);
		--smb-alert--border-color: var(--smb-alert--remark-border-color);
		--smb-alert--color: var(--smb-alert--remark-color);
		--smb-alert--icon-color: var(--smb-alert--remark-icon-color);
	}

	&__body {
	}

	&__title {
		position: relative;
		display: flex;
		align-items: center;
		margin-bottom: var(--_margin-1);

		.svg-inline--fa {
			flex: 0 0 auto;
			position: relative;
			top: -1px;
			margin-right: var(--_margin-2);
			@include core.set-fluid-font-size-level(3);
			height: 1em;
		}
	}
}

:where(.smb-alert__body.is-layout-constrained > *) {
	--wp--style--global--content-size: 100%;
	--wp--style--global--wide-size: 100%;
}
