@import '../../css/core/block';

.smb-btn {
	--smb-btn--background-color: var(--wp--preset--color--black);
	--smb-btn--color: var(--wp--preset--color--white);
	--smb-btn--style--ghost--border-color: currentColor;
	--smb-btn--style--ghost--color: currentColor;
	--smb-btn--style--text--color: currentColor;

	margin: 0;
	@include btn();
	background-color: var(--smb-btn--background-color);
	color: var(--smb-btn--color);

	&--little-wider {
		padding-right: var(--_padding2);
		padding-left: var(--_padding2);
	}

	&--wider {
		padding-right: var(--_padding3);
		padding-left: var(--_padding3);
	}

	&--more-wider {
		width: 100%;
		display: block;

		@include _media-min(md) {
			width: auto;
			display: inline-block;
			padding-right: var(--_padding4);
			padding-left: var(--_padding4);
		}
	}

	&--full {
		width: 100%;
		display: block;
	}

	&--wrap {
		white-space: normal;
	}
}

.smb-btn-wrapper.is-style-ghost {
	.smb-btn {
		--smb-btn--background-color: transparent;
		--smb-btn--color: var(--smb-btn--style--ghost--color);

		border: 1px solid var(--smb-btn--style--ghost--border-color);
	}
}

.smb-btn-wrapper.is-style-text {
	.smb-btn {
		--smb-btn--background-color: transparent;
		--smb-btn--color: var(--smb-btn--style--text--color);

		border: none !important;
	}
}

.smb-btn-wrapper.aligncenter {
	text-align: center;
}
