.smb-faq {
  &__item {
    &__question,
    &__answer {
      .editor-rich-text {
        overflow: hidden;
      }
    }
  }

  .smb-add-item-button-wrapper {
    text-align: center;
  }

  .block-list-appender {
    position: relative;
    top: 14px;
  }
}
