@charset 'utf-8';

@import '../../src/css/core/block';

.smb-faq {
  &__item {
    border-bottom: 1px solid transparent;
    border-bottom-color: _lighter($_color-gray); // For IE11
    border-bottom-color: _var-lighter-color-gray();
    @include _margin-top(1);
    @include _padding-bottom(1);

    &:first-child {
      border-top: 1px solid transparent;
      border-top-color: _lighter($_color-gray); // For IE11
      border-top-color: _var-lighter-color-gray();
      @include _padding-top(1);
    }

    &__question,
    &__answer {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;

      &__label {
        flex: 0 0 0%;
        @include _margin-right(1);
        @include _font-size(1.5);
        line-height: 1;
        font-weight: normal;
        color: $color-accent;
      }

      &__body {
        flex: 1 1 auto;
        @include content();
      }
    }

    &__question {
      @include _margin(0, 0, 1);
      font-weight: bold;
    }
  }
}
