@charset 'utf-8';

@import '../../src/css/core/block';

[data-align="full"] > .smb-section-break-the-grid--right {
  > .smb-section__inner {
    > .#{ $_prefix }c-container:not(.#{ $_prefix }c-container--no-padding) {
      > .smb-section__contents-wrapper {
        > .#{ $_prefix }c-row {
          > .#{ $_prefix }c-row__col {
            > .smb-section-break-the-grid__figure {
              @include _media-min(lg) {
                right: _space(-1);
              }
            }
          }
        }
      }
    }
  }
}

[data-align="full"] > .smb-section-break-the-grid--left {
  > .smb-section__inner {
    > .#{ $_prefix }c-container:not(.#{ $_prefix }c-container--no-padding) {
      > .smb-section__contents-wrapper {
        > .#{ $_prefix }c-row {
          > .#{ $_prefix }c-row__col {
            > .smb-section-break-the-grid__figure {
              @include _media-min(lg) {
                left: _space(-1);
              }
            }
          }
        }
      }
    }
  }
}
