@charset 'utf-8';

@import '../../src/css/core/block';

.smb-section-break-the-grid {
  position: relative;

  // @deprecated
  $deprecatedImageSizes: (
    140: 'l',
    180: 'xl',
  );

  $imageSizes: (
    10: '10',
    20: '20',
    30: '30',
    40: '40',
    50: '50',
    60: '60',
    70: '70',
    80: '80',
    90: '90',
    100: '100',
  );

  // @deprecated
  $deprecatedContentSizes: (
    60: 'xs',
    80: 's',
    120: 'l',
    140: 'xl',
  );

  $contentSizes: (
    -50: '-50',
    -40: '-40',
    -30: '-30',
    -20: '-20',
    -10: '-10',
    10: '10',
    20: '20',
    30: '30',
    40: '40',
    50: '50',
  );

  // deprecated
  $deprecatedContentHorizontalPositions: (
    5: 'xs',
    10: 's',
    15: 'm',
    20: 'l',
    25: 'xl',
  );

  $contentHorizontalPositions: (
    5: '5', // deprecated
    10: '10',
    15: '15', // deprecated
    20: '20',
    25: '25', // deprecated
    30: '30',
    40: '40',
    50: '50',
  );

  // deprecated
  $deprecatedContentTopVerticalPositions: (
    100: 'txl',
    80: 'tl',
    60: 'tm',
    40: 'ts',
  );

  $contentTopVerticalPositions: (
    100: 't100',
    80: 't80',
    60: 't60',
    40: 't40',
  );

  // deprecated
  $deprecatedContentBottomVerticalPositions: (
    40: 'bs',
    60: 'bm',
    80: 'bl',
    100: 'bxl',
  );

  $contentBottomVerticalPositions: (
    40: 'b40',
    60: 'b60',
    80: 'b80',
    100: 'b100',
  );

  $contentPaddings: (
    1: 's',
    2: 'm',
    3: 'l',
  );

  @include _media-min(lg) {
    // deprecated
    @each $key, $value in $deprecatedContentTopVerticalPositions {
      &--vertical-#{ $value } {
        > .smb-section__inner {
          > .#{ $_prefix }c-container {
            > .smb-section__contents-wrapper {
              > .#{ $_prefix }c-row {
                > .#{ $_prefix }c-row__col {
                  > .smb-section-break-the-grid__content {
                    margin-bottom: 1px * $key;
                  }

                  > .smb-section-break-the-grid__figure {
                    margin-top: 1px * $key;
                  }
                }
              }
            }
          }
        }
      }
    }

    @each $key, $value in $contentTopVerticalPositions {
      &--vertical-#{ $value } {
        > .smb-section__inner {
          > .#{ $_prefix }c-container {
            > .smb-section__contents-wrapper {
              > .#{ $_prefix }c-row {
                > .#{ $_prefix }c-row__col {
                  > .smb-section-break-the-grid__content {
                    margin-bottom: 1px * $key;
                  }

                  > .smb-section-break-the-grid__figure {
                    margin-top: 1px * $key;
                  }
                }
              }
            }
          }
        }
      }
    }

    // deprecated
    @each $key, $value in $deprecatedContentBottomVerticalPositions {
      &--vertical-#{ $value } {
        > .smb-section__inner {
          > .#{ $_prefix }c-container {
            > .smb-section__contents-wrapper {
              > .#{ $_prefix }c-row {
                > .#{ $_prefix }c-row__col {
                  > .smb-section-break-the-grid__content {
                    margin-top: 1px * $key;
                  }

                  > .smb-section-break-the-grid__figure {
                    margin-bottom: 1px * $key;
                  }
                }
              }
            }
          }
        }
      }
    }

    @each $key, $value in $contentBottomVerticalPositions {
      &--vertical-#{ $value } {
        > .smb-section__inner {
          > .#{ $_prefix }c-container {
            > .smb-section__contents-wrapper {
              > .#{ $_prefix }c-row {
                > .#{ $_prefix }c-row__col {
                  > .smb-section-break-the-grid__content {
                    margin-top: 1px * $key;
                  }

                  > .smb-section-break-the-grid__figure {
                    margin-bottom: 1px * $key;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &--mobile-image {
    > .smb-section__inner {
      > .#{ $_prefix }c-container {
        > .smb-section__contents-wrapper {
          > .#{ $_prefix }c-row {
            > .#{ $_prefix }c-row__col {
              &:first-child {
                @include _media-max(md) {
                  order: 1 !important;
                }
              }

              > .smb-section-break-the-grid__figure {
                @include _media-max(md) {
                  @include _margin-bottom(-3);
                }

                @include _media-min(lg) {
                  // deprecated
                  @each $key, $value in $deprecatedImageSizes {
                    &--w-#{ $value } {
                      width: $key * 1%;
                    }
                  }

                  @each $key, $value in $imageSizes {
                    &--w-#{ $value } {
                      width: 100 + $key * 1%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &--mobile-text {
    > .smb-section__inner {
      > .#{ $_prefix }c-container {
        > .smb-section__contents-wrapper {
          > .#{ $_prefix }c-row {
            > .#{ $_prefix }c-row__col {
              &:first-child {
                @include _media-max(md) {
                  order: 0 !important;
                }
              }

              > .smb-section-break-the-grid__content {
                @include _media-max(md) {
                  @include _margin-bottom(-3);
                }
              }
            }
          }
        }
      }
    }
  }

  &--mobile-nowrap {
    > .smb-section__inner {
      > .#{ $_prefix }c-container {
        > .smb-section__contents-wrapper {
          @include _media-max(md) {
            @include _padding(2, 0);
          }

          > .#{ $_prefix }c-row {
            > .#{ $_prefix }c-row__col {
              > .smb-section-break-the-grid__figure {
                @include _media-max(md) {
                  position: absolute;
                  top: 0;
                  bottom: 0;

                  > img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                  }
                }
              }
            }
          }
        }
      }
    }

    &.smb-section-break-the-grid--right {
      > .smb-section__inner {
        > .#{ $_prefix }c-container {
          > .smb-section__contents-wrapper {
            > .#{ $_prefix }c-row {
              > .#{ $_prefix }c-row__col {
                > .smb-section-break-the-grid__content {
                  @include _media-max(md) {
                    @include _margin-right(-5);
                  }
                }

                > .smb-section-break-the-grid__figure {
                  @include _media-max(md) {
                    left: _space(2);
                    right: 0;
                  }
                }
              }
            }
          }
        }
      }
    }

    &.smb-section-break-the-grid--left {
      > .smb-section__inner {
        > .#{ $_prefix }c-container {
          > .smb-section__contents-wrapper {
            > .#{ $_prefix }c-row {
              > .#{ $_prefix }c-row__col {
                > .smb-section-break-the-grid__content {
                  @include _media-max(md) {
                    @include _margin-left(-5);
                  }
                }

                > .smb-section-break-the-grid__figure {
                  @include _media-max(md) {
                    right: _space(2);
                    left: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &__mask {
    @include _position(absolute, 0, 0, 0, 0);
  }

  &__figure {
    position: relative;

    > img {
      position: relative;
      width: 100%;
    }
  }

  &__content {
    position: relative;
    z-index: 1;

    @each $key, $value in $contentPaddings {
      &--p-#{ $value } {
        @include _padding($key / 2);

        @include _media-min(md) {
          @include _padding($key);
        }
      }
    }

    // deprecated
    @each $key, $value in $deprecatedContentSizes {
      &--w-#{ $value } {
        @include _media-min(lg) {
          width: $key * 1%;
        }
      }
    }

    @each $key, $value in $contentSizes {
      &--w-#{ $value } {
        @include _media-min(lg) {
          width: 100 + $key * 1%;
        }
      }
    }

    &--left,
    &--center,
    &--right {
      > .smb-section__header {
        text-align: inherit;

        > .smb-section__lede-wrapper {
          display: block;
        }
      }
    }

    &--left {
      text-align: left;
    }

    &--center {
      text-align: center;
    }

    &--right {
      text-align: right;
    }
  }

  // @deprecated
  &__subtitle,
  &__title {
    text-align: left;
  }

  &__header {
    text-align: left;

    > * {
      text-align: inherit;
    }
  }

  &__lede-wrapper {
    justify-content: flex-start;
  }

  &__shadow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &--right,
  &--left {
    &:not([class*="smb-section-break-the-grid--mobile-"]) {
      > .smb-section__inner {
        > .#{ $_prefix }c-container {
          > .smb-section__contents-wrapper {
            > .#{ $_prefix }c-row {
              > .#{ $_prefix }c-row__col {
                > .smb-section-break-the-grid__content {
                  @include _media-max(md) {
                    @include _margin-bottom(-3);
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &--right {
    > .smb-section__inner {
      > .#{ $_prefix }c-container {
        > .smb-section__contents-wrapper {
          > .#{ $_prefix }c-row {
            > .#{ $_prefix }c-row__col {
              > .smb-section-break-the-grid__content {
                @include _media-min(lg) {
                  // deprecated
                  @each $key, $value in $deprecatedContentHorizontalPositions {
                    &--horizontal-#{ $value } {
                      left: 1% * $key;
                    }
                  }

                  @each $key, $value in $contentHorizontalPositions {
                    &--horizontal-#{ $value } {
                      left: 1% * $key;
                    }
                  }

                  &--remove-outside-p {
                    padding-top: 0 !important;
                    padding-left: 0 !important;
                  }
                }
              }

              > .smb-section-break-the-grid__figure {
                right: _space(-.5);

                @include _media-min(md) {
                  right: _space(-1);
                }

                @include _media-min(lg) {
                  right: 0;

                  // deprecated
                  @each $key, $value in $deprecatedImageSizes {
                    &--w-#{ $value } {
                      margin-left: -1 * $key + 100%;
                    }
                  }

                  @each $key, $value in $imageSizes {
                    &--w-#{ $value } {
                      margin-left: -1 * $key * 1%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &--left {
    // @deprecated
    > .#{ $_prefix }c-container > .#{ $_prefix }c-row,
    > .smb-section__inner > .#{ $_prefix }c-container > .#{ $_prefix }c-row {
      flex-direction: row-reverse;
    }

    > .smb-section__inner {
      > .#{ $_prefix }c-container {
        > .smb-section__contents-wrapper {
          > .#{ $_prefix }c-row {
            flex-direction: row-reverse;

            > .#{ $_prefix }c-row__col {
              > .smb-section-break-the-grid__content {
                @include _media-min(lg) {
                  // deprecated
                  @each $key, $value in $deprecatedContentHorizontalPositions {
                    &--horizontal-#{ $value } {
                      right: 1% * $key;
                    }
                  }

                  @each $key, $value in $contentHorizontalPositions {
                    &--horizontal-#{ $value } {
                      right: 1% * $key;
                    }
                  }

                  // deprecated
                  @each $key, $value in $deprecatedContentSizes {
                    &--w-#{ $value } {
                      margin-left: 100 - $key * 1%;
                    }
                  }

                  @each $key, $value in $contentSizes {
                    &--w-#{ $value } {
                      margin-left: -1 * $key * 1%;
                    }
                  }

                  &--remove-outside-p {
                    padding-top: 0 !important;
                    padding-right: 0 !important;
                  }
                }
              }

              > .smb-section-break-the-grid__figure {
                left: _space(-.5);

                @include _media-min(md) {
                  left: _space(-1);
                }

                @include _media-min(lg) {
                  left: 0;

                  // deprecated
                  @each $key, $value in $deprecatedImageSizes {
                    &--w-#{ $value } {
                      margin-right: -1 * $key + 100%;
                    }
                  }

                  @each $key, $value in $imageSizes {
                    &--w-#{ $value } {
                      margin-right: -1 * ($key * 1%);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &--top,
  &--bottom {
    > .smb-section__inner {
      > .#{ $_prefix }c-container {
        > .smb-section__contents-wrapper {
          > .#{ $_prefix }c-row {
            > .#{ $_prefix }c-row__col {
              width: 100%;

              > .smb-section-break-the-grid__content {
                &--remove-outside-p {
                  padding-top: 0 !important;
                  padding-bottom: 0 !important;
                }
              }

              > .smb-section-break-the-grid__figure {
                // deprecated
                @each $key, $value in $deprecatedImageSizes {
                  &--w-#{ $value } {
                    width: $key * 1%;
                  }
                }

                @each $key, $value in $imageSizes {
                  &--w-#{ $value } {
                    width: 100 + $key * 1%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &--top {
    > .smb-section__inner {
      > .#{ $_prefix }c-container {
        > .smb-section__contents-wrapper {
          > .#{ $_prefix }c-row {
            flex-direction: column;

            > .#{ $_prefix }c-row__col {
              > .smb-section-break-the-grid__content {
                // deprecated
                @each $key, $value in $deprecatedContentHorizontalPositions {
                  &--horizontal-#{ $value } {
                    @include _margin-bottom(-1.5 * $key / 10);

                    @include _media-min(md) {
                      @include _margin-bottom(-2 * $key / 10);
                    }
                  }
                }

                @each $key, $value in $contentHorizontalPositions {
                  &--horizontal-#{ $value } {
                    @include _margin-bottom(-1.5 * $key / 10);

                    @include _media-min(md) {
                      @include _margin-bottom(-2 * $key / 10);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &--bottom {
    > .smb-section__inner {
      > .#{ $_prefix }c-container {
        > .smb-section__contents-wrapper {
          > .#{ $_prefix }c-row {
            flex-direction: column-reverse;

            > .#{ $_prefix }c-row__col {
              > .smb-section-break-the-grid__content {
                // deprecated
                @each $key, $value in $deprecatedContentHorizontalPositions {
                  &--horizontal-#{ $value } {
                    @include _margin-top(-1.5 * $key / 10);

                    @include _media-min(md) {
                      @include _margin-top(-2 * $key / 10);
                    }
                  }
                }

                @each $key, $value in $contentHorizontalPositions {
                  &--horizontal-#{ $value } {
                    @include _margin-top(-1.5 * $key / 10);

                    @include _media-min(md) {
                      @include _margin-top(-2 * $key / 10);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &--match-height {
    > .smb-section__inner {
      position: static;

      > .#{ $_prefix }c-container {
        position: static;

        > .smb-section__contents-wrapper {
          > .#{ $_prefix }c-row {
            > .#{ $_prefix }c-row__col {
              > .smb-section-break-the-grid__figure {
                @include _media-min(lg) {
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  margin: 0 !important;

                  img,
                  video {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: 50% 50%;
                  }
                }
              }
            }
          }
        }
      }
    }

    &.smb-section-break-the-grid--right {
      > .smb-section__inner {
        > .#{ $_prefix }c-container {
          > .smb-section__contents-wrapper {
            > .#{ $_prefix }c-row {
              > .#{ $_prefix }c-row__col {
                > .smb-section-break-the-grid__figure {
                  @include _media-min(lg) {
                    left: 50%;
                    right: 0 !important;

                    @each $key, $value in $imageSizes {
                      &.smb-section-break-the-grid__figure--w-#{ $value } {
                        left: -1 * $key / 2 + 50%;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &.smb-section-break-the-grid--left {
      > .smb-section__inner {
        > .#{ $_prefix }c-container {
          > .smb-section__contents-wrapper {
            > .#{ $_prefix }c-row {
              > .#{ $_prefix }c-row__col {
                > .smb-section-break-the-grid__figure {
                  @include _media-min(lg) {
                    right: 50%;
                    left: 0 !important;

                    @each $key, $value in $imageSizes {
                      &.smb-section-break-the-grid__figure--w-#{ $value } {
                        right: -1 * $key / 2 + 50%;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.alignfull.smb-section-break-the-grid {
  // @deprecated
  > .#{ $_prefix }c-container {
    max-width: none;
  }
}

.alignfull.smb-section-break-the-grid--right {
  > .smb-section__inner {
    > .#{ $_prefix }c-container:not(.#{ $_prefix }c-container--no-padding) {
      > .smb-section__contents-wrapper {
        > .#{ $_prefix }c-row {
          > .#{ $_prefix }c-row__col {
            > .smb-section-break-the-grid__figure {
              @include _media-min(lg) {
                right: _space(-1);
              }
            }
          }
        }
      }
    }
  }
}

.alignfull.smb-section-break-the-grid--left {
  > .smb-section__inner {
    > .#{ $_prefix }c-container:not(.#{ $_prefix }c-container--no-padding) {
      > .smb-section__contents-wrapper {
        > .#{ $_prefix }c-row {
          > .#{ $_prefix }c-row__col {
            > .smb-section-break-the-grid__figure {
              @include _media-min(lg) {
                left: _space(-1);
              }
            }
          }
        }
      }
    }
  }
}

.smb-section-break-the-grid.smb-section {
  // @deprecated
  &--left {
    > .smb-section__inner {
      > .#{ $_prefix }c-container {
        > .#{ $_prefix }c-row {
          > .#{ $_prefix }c-row__col {
            > .smb-section-break-the-grid__content {
              > .smb-section__subtitle,
              > .smb-section__title,
              > .smb-section__lede-wrapper > .smb-section__lede,
              > .smb-section__body {
                text-align: left;
              }

              > .smb-section__lede-wrapper {
                display: block;
              }
            }
          }
        }
      }
    }
  }

  // @deprecated
  &--center {
    > .smb-section__inner {
      > .#{ $_prefix }c-container {
        > .#{ $_prefix }c-row {
          > .#{ $_prefix }c-row__col {
            > .smb-section-break-the-grid__content {
              > .smb-section__subtitle,
              > .smb-section__title,
              > .smb-section__body {
                text-align: center;
              }
            }
          }
        }
      }
    }
  }

  // @deprecated
  &--right {
    > .smb-section__inner {
      > .#{ $_prefix }c-container {
        > .#{ $_prefix }c-row {
          > .#{ $_prefix }c-row__col {
            > .smb-section-break-the-grid__content {
              > .smb-section__subtitle,
              > .smb-section__title,
              > .smb-section__lede-wrapper > .smb-section__lede,
              > .smb-section__body {
                text-align: right;
              }

              > .smb-section__lede-wrapper {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}
