@charset 'utf-8';

@import '../../src/css/core/block';

.editor-styles-wrapper {
  .smb-buttons {
    .block-editor-inner-blocks {
      flex: 1 1 auto;

      .block-editor-block-list__layout {
        display: flex;
        flex-wrap: wrap;

        @include _margin-right(-.25);
        @include _margin-left(-.25);
        @include _margin-bottom(-.5);

        > .smb-btn-wrapper {
          flex: 0 0 auto;
          @include _padding-right(.25);
          @include _padding-left(.25);
          @include _padding-bottom(.5);
        }

        > .smb-btn-wrapper--full {
          flex: 1 1 auto;
        }
      }
    }

    &.has-text-align-left {
      .block-editor-block-list__layout {
        justify-content: flex-start;
      }
    }

    &.has-text-align-center {
      .block-editor-block-list__layout {
        justify-content: center;
      }
    }

    &.has-text-align-right {
      .block-editor-block-list__layout {
        justify-content: flex-end;
      }
    }
  }
}
