@charset 'utf-8';

@import '../../src/css/core/block';

.smb-buttons {
  display: flex;
  flex-wrap: wrap;

  &.has-text-align-left,
  &.is-content-justification-left {
    justify-content: flex-start;
  }

  &.has-text-align-center,
  &.is-content-justification-center {
    justify-content: center;
  }

  &.has-text-align-right,
  &.is-content-justification-right {
    justify-content: flex-end;
  }

  @include _margin-right(-.25, false);
  @include _margin-left(-.25, false);
  @include _margin-bottom(-.5, false);

  > .smb-btn-wrapper {
    flex: 0 0 auto;
    margin-top: 0;
    margin-bottom: 0;
    @include _padding-right(.25);
    @include _padding-left(.25);
    @include _padding-bottom(.5);
  }

  > .smb-btn-wrapper--more-wider {
    @include _media-max(sm) {
      flex: 1 1 auto;
    }
  }

  > .smb-btn-wrapper--full {
    flex: 1 1 auto;
  }
}
