@charset 'utf-8';

@import '../../src/css/core/block';

.smb-buttons {
  display: flex;
  flex-wrap: wrap;

  @supports (gap: 1px) {
    gap: _space(.5, true, true);
  }

  &.has-text-align-left,
  &.is-content-justification-left {
    justify-content: flex-start;
  }

  &.has-text-align-center,
  &.is-content-justification-center {
    justify-content: center;

    // For IE11
    > .smb-btn-wrapper {
      @include _margin-right(.25);
      @include _margin-left(.25);

      @supports (gap: 1px) {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }

  &.has-text-align-right,
  &.is-content-justification-right {
    justify-content: flex-end;

    // For IE11
    > .smb-btn-wrapper {
      margin-right: 0;
      @include _margin-left(.5);

      @supports (gap: 1px) {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }

  &.is-content-justification-space-between {
    justify-content: space-between;
  }

  > .smb-btn-wrapper {
    flex: 0 1 auto;
    margin: 0;
    @include _margin-right(.5); // For IE11
    @include _padding-bottom(.5, true); // For IE11

      @supports (gap: 1px) {
        margin-right: 0;
        padding-bottom: 0;
      }
  }

  > .smb-btn-wrapper--more-wider {
    @include _media-max(sm) {
      flex: 1 1 auto;
    }
  }

  > .smb-btn-wrapper--full {
    flex: 1 1 auto;
  }
}
