.smb-section-with-image {
  &__figure {
    position: relative;

    .smb-remove-button {
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }

  // @todo MediaPlaceholder
  .components-drop-zone,
  .components-form-file-upload {
    display: none !important;
  }
}
