.smacb-btn {
  @include btn();

  &--full {
    width: 100%;
    display: block;
  }
}

.smacb-btn-wrapper.alignleft,
.smacb-btn-wrapper.alignright {
  float: none;
}

.smacb-btn-wrapper.alignleft {
  > .smacb-btn {
    float: left;
  }
}

.smacb-btn-wrapper.alignright {
  > .smacb-btn {
    float: right;
  }
}
