.smb-btn {
  @include btn();

  &--full {
    width: 100%;
    display: block;
  }

  .is-style-ghost & {
    background-color: transparent !important;
    border-width: 1px;
    border-style: solid;
  }
}

.smb-btn-wrapper.alignleft,
.smb-btn-wrapper.alignright {
  float: none;
}

.smb-btn-wrapper.alignleft {
  > .smb-btn {
    float: left;
  }
}

.smb-btn-wrapper.alignright {
  > .smb-btn {
    float: right;
  }
}

.smb-btn-wrapper.aligncenter {
  text-align: center;
}
