@charset 'utf-8';

@import '../../src/css/core/block';

.smb-btn {
  @include btn();

  &--full {
    width: 100%;
    display: block;
  }

  &--wrap {
    white-space: normal;
  }
}

.smb-btn-wrapper.is-style-ghost {
  .smb-btn {
    background-color: transparent !important;
    border: 1px solid $color-accent;
    color: $color-accent;
  }
}

.smb-btn-wrapper.aligncenter {
  text-align: center;
}
