@charset 'utf-8';

@import '../../src/css/core/block';

.smb-btn {
  margin: 0;
  @include btn();

  &--little-wider {
    @include _padding-right(1.5);
    @include _padding-left(1.5);

    @include _media-min(md) {
      @include _padding-right(2);
      @include _padding-left(2);
    }
  }

  &--wider {
    @include _padding-right(2);
    @include _padding-left(2);

    @include _media-min(md) {
      @include _padding-right(3);
      @include _padding-left(3);
    }
  }

  &--more-wider {
    width: 100%;
    display: block;

    @include _media-min(md) {
      width: auto;
      display: inline-block;
      @include _padding-right(4);
      @include _padding-left(4);
    }
  }

  &--full {
    width: 100%;
    display: block;
  }

  &--wrap {
    white-space: normal;
  }
}

.smb-btn-wrapper.is-style-ghost {
  .smb-btn {
    background-color: transparent !important;
    border: 1px solid $color-accent;
    color: $color-accent;
  }
}

.smb-btn-wrapper.is-style-text {
  .smb-btn {
    background-color: transparent !important;
    border: none !important;
    color: $color-accent;
  }
}

.smb-btn-wrapper.aligncenter {
  text-align: center;
}
