@charset 'utf-8';

@import '../../src/css/core/block';

.smb-btn {
  @include btn();

  &--full {
    width: 100%;
    display: block;
  }
}

.smb-btn-wrapper.is-style-ghost {
  .smb-btn {
    background-color: transparent !important;
    border: 1px solid $color-accent;
    color: $color-accent;
  }
}

.smb-btn-wrapper.alignleft,
.smb-btn-wrapper.alignright {
  float: none;
}

.smb-btn-wrapper.alignleft {
  > .smb-btn {
    float: left;
  }
}

.smb-btn-wrapper.alignright {
  > .smb-btn {
    float: right;
  }
}

.smb-btn-wrapper.aligncenter {
  text-align: center;
}
