@charset 'utf-8';

@import '../../src/css/core/block';

.smb-list {
  ul {
    list-style: none !important;

    > li {
      position: relative;

      & + li {
        @include _margin-top(.25);
      }

      .smb-list__icon {
        position: absolute;
        top: 6px;
        left: -1.3em;
        line-height: 1;
      }
    }
  }
}
