@import '../../css/core/block';

.smb-btn-box {
	padding-top: var(--_padding2);
	padding-bottom: var(--_padding2);

	&__lede {
		margin-bottom: var(--_margin-1);
		font-weight: bold;
		text-align: center;
	}

	&__btn-wrapper {
		text-align: center;
	}

	&__note {
		margin-top: var(--_margin-1);
		text-align: center;
	}
}

.smb-btn-box.is-style-ghost {
	.smb-btn {
		--smb-btn--background-color: transparent;
		--smb-btn--color: var(--smb-btn--style--ghost--color);

		border: 1px solid var(--smb-btn--style--ghost--border-color);
	}
}
