.smb-section-with-bgimage {
  .smb-section__title,
  .smb-section__body .editor-rich-text__tinymce {
    color: #fff;
  }

  .smb-remove-button {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
  }

  .editor-default-block-appender__content {
    color: rgba(#fff, .8);
  }
}
