@charset 'utf-8';

@import '../../src/css/core/block';

.smb-section-with-bgimage {
  position: relative;
  overflow: hidden;

  &__repeatable-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: repeat;
    background-position: 50% 50%;

    img {
      display: none;
    }
  }

  &__bgimage {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: _var-color-white();

    &--lg {
    }

    &--md {
      @include _media-min(lg) {
        display: none;
      }
    }

    &--sm {
      @include _media-min(md) {
        display: none;
      }
    }

    img,
    iframe,
    video {
      position: absolute;
      height: 100%;
      width: 100%;
    }

    img,
    video {
      object-fit: cover;
      object-position: 50% 50%;
    }
  }

  &__mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: _var-color-black();
  }

  // @deprecated
  &--left:not([class*="smb-section--"]) {
    > .#{ $_prefix }c-container {
      > .smb-section__subtitle,
      > .smb-section__title,
      > .smb-section__lede,
      > .smb-section__lede-wrapper > .smb-section__lede,
      > .smb-section__body {
        text-align: left;
      }

      > .smb-section__lede-wrapper {
        display: block;
      }
    }
  }

  // @deprecated
  &--center:not([class*="smb-section--"]) {
    > .#{ $_prefix }c-container {
      > .smb-section__title,
      > .smb-section__body {
        text-align: center;
      }
    }
  }

  // @deprecated
  &--right:not([class*="smb-section--"]) {
    > .#{ $_prefix }c-container {
      > .smb-section__subtitle,
      > .smb-section__title,
      > .smb-section__lede,
      > .smb-section__lede-wrapper > .smb-section__lede,
      > .smb-section__body {
        text-align: right;
      }

      > .smb-section__lede-wrapper {
        display: block;
      }
    }
  }
}
