@use '../../../node_modules/sass-basis/src/css/core';

.smb-media-text {
	--smb-media-text--background-color: transparent;
	--smb-media-text--background-image: initial;
	--smb-media-text--color: inherit;
	--smb-media-text--gap: var(--_margin1);
	--smb-media-text--image-position-x: 50%;
	--smb-media-text--image-position-y: 50%;
	--smb-media-text--content-padding: 0px;
	--smb-media-text--direction: column;
	--smb-media-text--style--border--border-color: var(--_lighter-color-gray);

	background-color: var(--smb-media-text--background-color);
	background-image: var(--smb-media-text--background-image);
	color: var(--smb-media-text--color);
	overflow: hidden;
	gap: 0 !important;

	&.is-style-border {
		border: 1px solid var(--smb-media-text--style--border--border-color);
	}

	&.is-style-border,
	&--has-background {
		--smb-media-text--gap: 0px;
		--smb-media-text--content-padding: var(--_padding1);

		.smb-media-text__caption {
			margin-bottom: var(--_margin-2);
			padding-inline: var(--smb-media-text--content-padding);
		}
	}

	> .c-row {
		flex-direction: var(--smb-media-text--direction);
	}

	&:where(:not(.smb-media-text--mobile-text):not(.smb-media-text--mobile-text)) > .c-row,
	&.smb-media-text--mobile-text > .c-row,
	&.smb-media-text--mobile-text > .c-row--reverse {
		--smb-media-text--direction: column;

		.smb-media-text__contents-wrapper {
			margin: 0 0 var(--smb-media-text--gap);
		}
	}

	&:where(:not(.smb-media-text--mobile-text):not(.smb-media-text--mobile-text)) > .c-row--reverse,
	&.smb-media-text--mobile-image > .c-row,
	&.smb-media-text--mobile-image > .c-row--reverse {
		--smb-media-text--direction: column-reverse;

		.smb-media-text__contents-wrapper {
			margin: var(--smb-media-text--gap) 0 0;
		}
	}

	// @deprecated
	$gutterSizes: (
		s: var(--_margin-1),
		m: var(--_margin1),
		l: var(--_margin2),
	);
	@each $key, $value in $gutterSizes {
		&--gutter-#{ $key } {
			--smb-media-text--gap: #{ $value };
		}
	}

	&__title {
		@include core.set-fluid-font-size-level(4);
	}

	&__title,
	.block-editor-rich-text {
		& + .smb-media-text__body {
			margin-top: var(--_margin1);
		}
	}

	&__figure {
		> img,
		> video {
			height: auto;
			width: 100%;
		}

		&--fill {
			position: relative;
			min-height: 250px;
			height: 100%;

			img {
				position: absolute;
				height: 100%;
				width: 100%;
				object-fit: cover;
				object-position: var(--smb-media-text--image-position-x) var(--smb-media-text--image-position-y);
			}
		}
	}

	&__caption {
		margin-top: var(--_margin-2);
		@include core.set-font-size-level(-1);
	}

	&__contents-wrapper {
		padding: var(--smb-media-text--content-padding);
	}

	&__body {
	}
}

@include core.media-min(lg) {
	.smb-media-text[data-sm-split-point="lg"] {
		&.is-style-border,
		&.smb-media-text--has-background {
			.smb-media-text__caption {
				padding-inline: initial;
			}

			.c-row--reverse .smb-media-text__caption {
				margin-inline: var(--_margin-2);
			}
		}

		> .c-row {
			--smb-media-text--direction: row;

			.smb-media-text__contents-wrapper {
				margin: 0 var(--smb-media-text--gap) 0 0;
			}
		}

		> .c-row--reverse {
			--smb-media-text--direction: row-reverse;

			.smb-media-text__contents-wrapper {
				margin: 0 0 0 var(--smb-media-text--gap);
			}
		}
	}
}

@include core.media-min(md) {
	.smb-media-text[data-sm-split-point="md"] {
		&.is-style-border,
		&.smb-media-text--has-background {
			.smb-media-text__caption {
				padding-inline: initial;
			}

			.c-row--reverse .smb-media-text__caption {
				margin-inline: var(--_margin-2);
			}
		}

		> .c-row {
			--smb-media-text--direction: row;

			.smb-media-text__contents-wrapper {
				margin: 0 var(--smb-media-text--gap) 0 0;
			}
		}

		> .c-row--reverse {
			--smb-media-text--direction: row-reverse;

			.smb-media-text__contents-wrapper {
				margin: 0 0 0 var(--smb-media-text--gap);
			}
		}
	}
}

:where(.smb-media-text__body.is-layout-constrained > *) {
	--wp--style--global--content-size: 100%;
	--wp--style--global--wide-size: 100%;
}
