@import '../../css/core/block';

.smb-media-text {
	&--mobile-text {
		> .c-row {
			> .c-row__col:first-child {
				@include _media-max(md) {
					order: 0 !important;
				}
			}
		}
	}

	&--mobile-image {
		> .c-row {
			> .c-row__col:first-child {
				@include _media-max(md) {
					order: 1 !important;
				}
			}
		}
	}

	&__title {
		@include _set-font-size-level(4);
	}

	&__title,
	.block-editor-rich-text {
		& + .smb-media-text__body {
			margin-top: var(--_margin1);
		}
	}

	&__figure {
		> img,
		> video {
			height: auto;
			width: 100%;
		}
	}

	&__caption {
		margin-top: var(--_margin-2);
		@include _set-font-size-level(-1);
	}

	> .c-row--reverse {
		> .c-row__col:first-child {
			@include _media-max(md) {
				order: 1;
			}
		}
	}

	&__body {
		// @include _content();
	}
}
