.smb-spider-slider[data-fade="true"] {
	.spider__slide:first-child {
		opacity: 1;
		visibility: visible;
	}
}

.smb-spider-slider[data-fade="false"] {
	.spider__slide {
		opacity: 1 !important;
		visibility: visible !important;
	}
}
