@use 'sass:math';
@use '../../../node_modules/sass-basis/src/css/core';

.smb-spider-slider {
	--smb-spider-slider--gap: 0px;
	--smb-spider-slider--slide-max-width: 100%;

	overflow: hidden;

	@for $i from 2 through 6 {
		&[data-sm-slide-to-show="#{ $i }"] {
			@include core.media-only(sm) {
				--smb-spider-slider--slide-max-width: calc(#{ math.div(100%, $i) } - #{ ($i - 1) } * var(--smb-spider-slider--gap) / #{ $i });
			}
		}

		&[data-md-slide-to-show="#{ $i }"] {
			@include core.media-only(md) {
				--smb-spider-slider--slide-max-width: calc(#{ math.div(100%, $i) } - #{ ($i - 1) } * var(--smb-spider-slider--gap) / #{ $i });
			}
		}

		&[data-lg-slide-to-show="#{ $i }"] {
			@include core.media-min(lg) {
				--smb-spider-slider--slide-max-width: calc(#{ math.div(100%, $i) } - #{ ($i - 1) } * var(--smb-spider-slider--gap) / #{ $i });
			}
		}
	}

	&__item {
		flex: 1 1 100%;
		max-width: 100%;
	}

	.spider__slide > .smb-spider-slider__item {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		padding: var(--_padding-2) var(--_padding-1);
	}

	&__item__caption {
		@include core.set-font-size-level(-1);
	}

	&__figure-wrapper {
		position: relative;
		flex: 1 0 100% !important;
		flex-wrap: wrap;
		overflow: hidden;
	}

	> .spider {
		> .spider__canvas {
			gap: var(--smb-spider-slider--gap);

			> .spider__slide {
				position: relative;
				flex: 1 0 100% !important;
				flex-wrap: wrap;
				max-width: var(--smb-spider-slider--slide-max-width);
			}
		}
	}

	> .spider__dots {
		margin: var(--_margin-1) 0 0;

		.spider__dot {
			margin: 0;
		}
	}

	> .spider__dots[data-thumbnails="true"] {
		--smb-spider-slider--dots-gap: var(--_margin-1);
		--spider--dots-gap: var(--smb-spider-slider--dots-gap);

		flex-wrap: wrap;
		justify-content: flex-start;

		.spider__dot {
			flex: 0 0 auto;
			width: calc((100% - var(--smb-spider-slider--dots-gap) * 3) / 4);
		}
	}

	.spider__figure {
		display: block;
		max-width: none;
		width: 100%;
	}
}

.smb-spider-slider {
	&--16to9 .spider__slide, // @deprecated
	&--4to3 .spider__slide, // @deprecated
	&--16x9 .smb-spider-slider__figure-wrapper,
	&--4x3 .smb-spider-slider__figure-wrapper {
		.spider__figure {
			position: absolute;
			inset: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: 50% 50%;
		}
	}

	&--16to9 .spider__slide::before, // @deprecated
	&--16x9 .smb-spider-slider__figure-wrapper::before {
		content: '';
		display: block;
		padding: 56.25% 0 0;
	}

	&--4to3 .spider__slide::before, // @deprecated
	&--4x3 .smb-spider-slider__figure-wrapper::before {
		content: '';
		display: block;
		padding: 75% 0 0;
	}
}

.smb-spider-slider--gutter-s {
	--smb-spider-slider--gap: var(--_margin-1);
}

.smb-spider-slider--gutter-m {
	--smb-spider-slider--gap: var(--_margin1);
}

.smb-spider-slider--gutter-l {
	--smb-spider-slider--gap: var(--_margin2);
}

.smb-spider-slider--shifted.alignfull,
.smb-spider-slider--shifted.alignwide {
	> .spider {
		> .spider__canvas::before,
		> .spider__canvas::after {
			content: '';
			display: block;
			flex: 0 0 auto;
			width: calc((var(--spider--canvas-width) - var(--spider--reference-width)) / 2 - var(--smb-spider-slider--gap));
		}

		> .spider__arrows {
			max-width: var(--spider--reference-width);
			left: calc(50% - var(--spider--reference-width) / 2);
		}
	}

	@for $i from 2 through 6 {
		&[data-sm-slide-to-show="#{ $i }"] {
			@include core.media-only(sm) {
				--smb-spider-slider--slide-max-width: calc(var(--spider--reference-width) / #{ $i });
			}
		}

		&[data-md-slide-to-show="#{ $i }"] {
			@include core.media-only(md) {
				--smb-spider-slider--slide-max-width: calc(var(--spider--reference-width) / #{ $i });
			}
		}

		&[data-lg-slide-to-show="#{ $i }"] {
			@include core.media-min(lg) {
				--smb-spider-slider--slide-max-width: calc(var(--spider--reference-width) / #{ $i });
			}
		}
	}

	&[class*="smb-spider-slider--gutter-"] {
		--smb-spider-slider--slide-max-width: var(--spider--reference-width);

		@for $i from 2 through 6 {
			&[data-sm-slide-to-show="#{ $i }"] {
				@include core.media-only(sm) {
					--smb-spider-slider--slide-max-width: calc(var(--spider--reference-width) / #{ $i } - #{ ($i - 1) } * var(--smb-spider-slider--gap) / #{ $i });
				}
			}

			&[data-md-slide-to-show="#{ $i }"] {
				@include core.media-only(md) {
					--smb-spider-slider--slide-max-width: calc(var(--spider--reference-width) / #{ $i } - #{ ($i - 1) } * var(--smb-spider-slider--gap) / #{ $i });
				}
			}

			&[data-lg-slide-to-show="#{ $i }"] {
				@include core.media-min(lg) {
					--smb-spider-slider--slide-max-width: calc(var(--spider--reference-width) / #{ $i } - #{ ($i - 1) } * var(--smb-spider-slider--gap) / #{ $i });
				}
			}
		}
	}
}
