@import '../../css/core/block';

.smb-spider-slider {
	--smb-spider-slider--gap: 0;
	--smb-spider-slider--dots-gap: var(--_margin-2);

	overflow: hidden;

	@for $i from 2 through 6 {
		@include _media-only(sm) {
			&[data-sm-slide-to-show="#{ $i }"] {
				.spider__slide {
					max-width: 100% / $i;
				}
			}
		}

		@include _media-only(md) {
			&[data-md-slide-to-show="#{ $i }"] {
				.spider__slide {
					max-width: 100% / $i;
				}
			}
		}

		@include _media-min(lg) {
			&[data-lg-slide-to-show="#{ $i }"] {
				.spider__slide {
					max-width: 100% / $i;
				}
			}
		}
	}

	&__item {
		flex: 1 1 100%;
		max-width: 100%;
	}

	&__item__caption {
		@include _set-font-size-level(-1);
	}

	.spider__slide,
	.smb-spider-slider__figure-wrapper {
		position: relative;
		flex: 1 0 100% !important;
		flex-wrap: wrap;
		overflow: hidden;
	}

	.spider__slide {
		.smb-spider-slider__item {
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			padding: var(--_padding-2) var(--_padding-1);
		}
	}

	.spider__dots {
		margin: var(--_margin-1) 0 0;
		gap: var(--smb-spider-slider--dots-gap);

		.spider__dot {
			margin: 0;
		}
	}

	.spider__dots[data-thumbnails="true"] {
		--smb-spider-slider--dots-gap: var(--_margin-1);

		flex-wrap: wrap;
		justify-content: flex-start;

		.spider__dot {
			flex: 0 0 auto;
			width: calc((100% - var(--smb-spider-slider--dots-gap) * 3) / 4);
		}
	}

	.spider__figure {
		display: block;
		max-width: none;
		width: 100%;
	}
}

.smb-spider-slider {
	&--16to9 .spider__slide, // @deprecated
	&--4to3 .spider__slide, // @deprecated
	&--16x9 .smb-spider-slider__figure-wrapper,
	&--4x3 .smb-spider-slider__figure-wrapper {
		.spider__figure {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: 50% 50%;
		}
	}

	&--16to9 .spider__slide::before, // @deprecated
	&--16x9 .smb-spider-slider__figure-wrapper::before {
		content: '';
		display: block;
		padding: 56.25% 0 0;
	}

	&--4to3 .spider__slide::before, // @deprecated
	&--4x3 .smb-spider-slider__figure-wrapper::before {
		content: '';
		display: block;
		padding: 75% 0 0;
	}
}

[class*="smb-spider-slider--gutter-"] {
	@for $i from 2 through 6 {
		@include _media-only(sm) {
			&[data-sm-slide-to-show] {
				.spider__slide:not(:last-child) {
					margin-right: var(--smb-spider-slider--gap);
				}
			}

			&[data-sm-slide-to-show="#{ $i }"] {
				.spider__slide {
					max-width: calc(#{ 100% / $i } - #{ ($i - 1) } * var(--smb-spider-slider--gap) / #{ $i });
				}
			}
		}

		@include _media-only(md) {
			&[data-md-slide-to-show] {
				.spider__slide:not(:last-child) {
					margin-right: var(--smb-spider-slider--gap);
				}
			}

			&[data-md-slide-to-show="#{ $i }"] {
				.spider__slide {
					max-width: calc(#{ 100% / $i } - #{ ($i - 1) } * var(--smb-spider-slider--gap) / #{ $i });
				}
			}
		}

		@include _media-min(lg) {
			&[data-lg-slide-to-show] {
				.spider__slide:not(:last-child) {
					margin-right: var(--smb-spider-slider--gap);
				}
			}

			&[data-lg-slide-to-show="#{ $i }"] {
				.spider__slide {
					max-width: calc(#{ 100% / $i } - #{ ($i - 1) } * var(--smb-spider-slider--gap) / #{ $i });
				}
			}
		}
	}
}

.smb-spider-slider--gutter-s {
	--smb-spider-slider--gap: var(--_margin-1);
}

.smb-spider-slider--gutter-m {
	--smb-spider-slider--gap: var(--_margin1);
}

.smb-spider-slider--gutter-l {
	--smb-spider-slider--gap: var(--_margin2);
}

.smb-spider-slider--shifted.alignfull,
.smb-spider-slider--shifted.alignwide {
	.spider__arrows {
		max-width: var(--spider-reference-width);
		left: calc(50% - var(--spider-reference-width) / 2);
	}

	.spider__canvas::before,
	.spider__canvas::after {
		content: '';
		display: block;
		flex: 0 0 auto;
		width: calc((var(--spider-canvas-width) - var(--spider-reference-width)) / 2);
	}

	@for $i from 2 through 6 {
		@include _media-only(sm) {
			&[data-sm-slide-to-show="#{ $i }"] {
				.spider__slide {
					max-width: calc(var(--spider-reference-width) / #{ $i });
				}
			}
		}

		@include _media-only(md) {
			&[data-md-slide-to-show="#{ $i }"] {
				.spider__slide {
					max-width: calc(var(--spider-reference-width) / #{ $i });
				}
			}
		}

		@include _media-min(lg) {
			&[data-lg-slide-to-show="#{ $i }"] {
				.spider__slide {
					max-width: calc(var(--spider-reference-width) / #{ $i });
				}
			}
		}
	}

	&[class*="smb-spider-slider--gutter-"] {
		.spider__slide:not(:last-child) {
			margin-right: var(--smb-spider-slider--gap);
		}

		.spider__slide {
			max-width: calc(var(--spider-reference-width));
		}

		@for $i from 2 through 6 {
			@include _media-only(sm) {
				&[data-sm-slide-to-show="#{ $i }"] {
					.spider__slide {
						max-width: calc(var(--spider-reference-width) / #{ $i } - #{ ($i - 1) } * var(--smb-spider-slider--gap) / #{ $i });
					}
				}
			}

			@include _media-only(md) {
				&[data-md-slide-to-show="#{ $i }"] {
					.spider__slide {
						max-width: calc(var(--spider-reference-width) / #{ $i } - #{ ($i - 1) } * var(--smb-spider-slider--gap) / #{ $i });
					}
				}
			}

			@include _media-min(lg) {
				&[data-lg-slide-to-show="#{ $i }"] {
					.spider__slide {
						max-width: calc(var(--spider-reference-width) / #{ $i } - #{ ($i - 1) } * var(--smb-spider-slider--gap) / #{ $i });
					}
				}
			}
		}
	}
}
