@charset 'utf-8';

@import '../../src/css/core/block';

.smb-evaluation-star {
  &__body {
    display: inline-block;
  }

  &__numeric {
    font-weight: bold;
    color: $_color-gray;

    &--left {
      float: left;
      margin-right: 16px;
    }

    &--right {
      float: right;
      margin-left: 16px;
    }
  }

  &__icon {
    display: inline-block;
    color: #f9bb2d;
  }
}
