@charset 'utf-8';

@import '../../src/css/core/block';

.smb-evaluation-star {
  &__body {
    display: inline-block;
  }

  &__numeric {
    font-weight: bold;
    color: $_color-gray; // For IE11
    color: _var-color-gray();

    &--left {
      float: left;
      @include _margin-right(.25);
    }

    &--right {
      float: right;
      @include _margin-left(.25);
    }
  }

  &__icon {
    display: inline-block;
    color: #f9bb2d;
  }
}
