.smb-badge {
  display: inline-flex;
  align-items: center;
  height: $_base-line-height;
  color: #fff;
  padding: 0 .5em;
  vertical-align: middle;
  font-size: calc(1em - 2px);
  line-height: 1;
  border-radius: $_border-radius !important;
  font-weight: bold;
  transform: translateY(-2px);
  white-space: nowrap;

  &,
  &[data-rich-text-format-boundary] {
    background-color: $_color-text;
  }
}
