@import '../../css/core/block';

.smb-information {
	--smb-information--gap: var(--_margin1);
	--smb-information--item-padding: var(--_padding1);
	--smb-information--style--border--border-color: var(--_lighter-color-gray);

	&__item {
		margin-top: 0;
		margin-bottom: 0;

		> .#{ $_prefix }c-row {
			> :first-child {
				display: flex;
				flex-direction: column;
			}
		}
	}

	&__body {
		> * + * {
			margin-top: var(--smb-information--gap);
		}
	}
}

.smb-information:not([data-sm-split-column="true"]) {
	.smb-information__item__body {
		margin-top: var(--_margin-1);

		@include _media-min(md) {
			margin-top: 0;
		}
	}
}

.smb-information:not([data-sm-split-column="true"])[data-label-align="right"] {
	> .smb-information__body {
		> .smb-information__item {
			> .#{ $_prefix }c-row {
				> :first-child {
					> * {
						@include _media-min(md) {
							text-align: right;
						}
					}
				}
			}
		}
	}
}

.smb-information[data-label-vertical-align="middle"] {
	> .smb-information__body {
		> .smb-information__item {
			> .#{ $_prefix }c-row {
				> :first-child {
					@include _media-min(md) {
						justify-content: center;
					}
				}
			}
		}
	}
}

.smb-information[data-sm-split-column="true"][data-label-align="right"] {
	> .smb-information__body {
		> .smb-information__item {
			> .#{ $_prefix }c-row {
				> :first-child {
					> * {
						text-align: right;
					}
				}
			}
		}
	}
}

.smb-information[data-label-vertical-align="middle"] {
	> .smb-information__body {
		> .smb-information__item {
			> .#{ $_prefix }c-row {
				> :first-child {
					justify-content: center;
				}
			}
		}
	}
}

.smb-information.is-style-border {
	> .smb-information__body > * + * {
		margin-top: -1px;
	}

	> .smb-information__body {
		> .smb-information__item {
			border: 1px solid var(--smb-information--style--border--border-color);

			> .#{ $_prefix }c-row {
				> :last-child {
					> * {
						margin-top: 0;
						padding: var(--smb-information--item-padding)
					}
				}
			}
		}
	}
}

.smb-information.is-style-border:not([data-sm-split-column="true"]) {
	> .smb-information__body {
		> .smb-information__item {
			> .#{ $_prefix }c-row {
				> :first-child {
					> * {
						padding: calc(var(--smb-information--item-padding) * .5) var(--smb-information--item-padding);

						@include _media-min(md) {
							padding: var(--smb-information--item-padding);
						}
					}
				}

				> :last-child {
					border-top: 1px solid var(--smb-information--style--border--border-color);

					@include _media-min(md) {
						border-top: none;
						border-left: 1px solid var(--smb-information--style--border--border-color);
					}
				}
			}
		}
	}
}

.smb-information.is-style-border[data-sm-split-column="true"] {
	> .smb-information__body {
		> .smb-information__item {
			> .#{ $_prefix }c-row {
				> :first-child {
					> * {
						padding: var(--smb-information--item-padding);
					}
				}

				> :last-child {
					border-left: 1px solid var(--smb-information--style--border--border-color);
				}
			}
		}
	}
}
