@use '../../../node_modules/sass-basis/src/css/core';

.smb-information {
	--smb-information--column-padding-s: var(--_padding-1);
	--smb-information--column-padding-m: var(--_padding1);
	--smb-information--column-padding-l: var(--_padding2);

	--smb-information--item-padding: var(--_padding1); // @deprecated

	--smb-information--gap: var(--_margin1);
	--smb-information--style--border--border-color: var(--_lighter-color-gray);
	--smb-information--label-column-background-color: transparent;
	--smb-information--label-column-text-color: inherit;
	--smb-information--content-column-background-color: transparent;
	--smb-information--column-padding: 0px;
	--smb-information--label-align: left;
	--smb-information--label-vertical-align: start;
	--smb-information--border-color: transparent;
	--smb-information--border-style: solid;
	--smb-information--border-width: 0px;

	&__body {
		> * + * {
			margin-top: var(--smb-information--gap);
		}
	}

	&__item {
		overflow: hidden;
		padding: 0;

		> .c-row {
			--_gap: var(--smb-information--gap);

			> * {
				display: flex;
				flex-direction: column;

				> * {
					flex-grow: 1;
				}
			}
		}
	}

	.smb-information__item__label,
	.smb-information__item__body {
		border-right: var(--smb-information--border-width) var(--smb-information--border-style) var(--smb-information--border-color);
		border-bottom: var(--smb-information--border-width) var(--smb-information--border-style) var(--smb-information--border-color);
	}

	.smb-information__item__label {
		display: flex;
		flex-direction: column;
		justify-content: var(--smb-information--label-vertical-align);
		text-align: var(--smb-information--label-align);
		background-color: var(--smb-information--label-column-background-color);
		border-left: var(--smb-information--border-width) var(--smb-information--border-style) var(--smb-information--border-color);
		color: var(--smb-information--label-column-text-color);
	}

	.smb-information__item__body {
		background-color: var(--smb-information--content-column-background-color);
	}
}

.smb-information:not([data-sm-split-column="true"]) {
	.smb-information__body > :first-child {
		.smb-information__item__label {
			border-top: var(--smb-information--border-width) var(--smb-information--border-style) var(--smb-information--border-color);
		}

		.smb-information__item__body {
			@include core.media-min(md) {
				border-top: var(--smb-information--border-width) var(--smb-information--border-style) var(--smb-information--border-color);
			}
		}
	}

	.smb-information__item__label {
		padding: calc(var(--smb-information--column-padding) * .5) var(--smb-information--column-padding);

		@include core.media-min(md) {
			padding: var(--smb-information--column-padding);
		}
	}

	.smb-information__item__body {
		padding: var(--smb-information--column-padding);

		@include core.media-max(sm) {
			border-left: var(--smb-information--border-width) var(--smb-information--border-style) var(--smb-information--border-color);
		}
	}
}

.smb-information[data-sm-split-column="true"] {
	.smb-information__body > :first-child {
		.smb-information__item__label,
		.smb-information__item__body {
			border-top: var(--smb-information--border-width) var(--smb-information--border-style) var(--smb-information--border-color);
		}
	}

	.smb-information__item__label,
	.smb-information__item__body {
		padding: var(--smb-information--column-padding);
	}
}

.smb-information:not([data-sm-split-column="true"])[data-label-align="center"] {
	@include core.media-min(md) {
		--smb-information--label-align: center;
	}
}

.smb-information[data-sm-split-column="true"][data-label-align="center"] {
	--smb-information--label-align: center;
}

.smb-information:not([data-sm-split-column="true"])[data-label-align="right"] {
	@include core.media-min(md) {
		--smb-information--label-align: right;
	}
}

.smb-information[data-sm-split-column="true"][data-label-align="right"] {
	--smb-information--label-align: right;
}

.smb-information[data-label-vertical-align="middle"] {
	--smb-information--label-vertical-align: center;
}

.smb-information--has-border {
	--smb-information--gap: 0px;
}

/**
 * Style: Border
 *
 * @deprecated
 */
.smb-information.is-style-border {
	--smb-information--item-padding: var(--smb-information--column-padding-m);
	--smb-information--column-padding: var(--smb-information--item-padding);
	--smb-information--gap: 0px;
	--smb-information--border-width: 1px;
	--smb-information--border-color: var(--smb-information--style--border--border-color);
}

:where(.smb-information__item__body.is-layout-constrained > *) {
	--wp--style--global--content-size: 100%;
	--wp--style--global--wide-size: 100%;
}

// For WordPress
.smb-information:where([style*=border-width]) {
	border: none;
}
