@import '../../css/core/block';

.smb-information {
	--smb-information--gap: var(--_margin1);
	--smb-information--item-padding: var(--_padding1);
	--smb-information--style--border--border-color: var(--_lighter-color-gray);

	&__item {
		margin-top: 0;
		margin-bottom: 0;

		> .#{ $_prefix }c-row {
			> .#{ $_prefix }c-row__col:first-child {
				display: flex;
				flex-direction: column;
			}
		}
	}

	&__body {
		> * + * {
			margin-top: var(--smb-information--gap);
		}
	}

	&:not([data-sm-split-column="true"]) {
		.smb-information__item {
			&__body {
				margin-top: var(--_margin-1);

				@include _media-min(md) {
					margin-top: 0;
				}
			}
		}
	}

	&:not([data-sm-split-column="true"]) {
		&[data-label-align="right"] {
			.smb-information__item__label {
				@include _media-min(md) {
					text-align: right;
				}
			}
		}

		&[data-label-vertical-align="middle"] {
			.smb-information__item {
				> .#{ $_prefix }c-row {
					> .#{ $_prefix }c-row__col:first-child {
						@include _media-min(md) {
							justify-content: center;
						}
					}
				}
			}
		}
	}

	&[data-sm-split-column="true"] {
		&[data-label-align="right"] {
			.smb-information__item__label {
				text-align: right;
			}
		}

		&[data-label-vertical-align="middle"] {
			.smb-information__item {
				> .#{ $_prefix }c-row {
					> .#{ $_prefix }c-row__col:first-child {
						justify-content: center;
					}
				}
			}
		}
	}

	&.is-style-border {
		> * + * {
			margin-top: -1px;
		}

		.smb-information__item {
			margin-top: 0;
			margin-bottom: 0;
			border: 1px solid var(--smb-information--style--border--border-color);

			&__body {
				margin-top: 0;
				padding: var(--smb-information--item-padding)
			}
		}

		&:not([data-sm-split-column="true"]) {
			.smb-information__item {
				> .#{ $_prefix }c-row {
					> .#{ $_prefix }c-row__col:last-child {
						border-top: 1px solid var(--smb-information--style--border--border-color);

						@include _media-min(md) {
							border-top: none;
							border-left: 1px solid var(--smb-information--style--border--border-color);
						}
					}
				}

				&__label {
					padding: calc(var(--smb-information--item-padding) * .5) var(--smb-information--item-padding);

					@include _media-min(md) {
						padding: var(--smb-information--item-padding);
					}
				}
			}
		}

		&[data-sm-split-column="true"] {
			.smb-information__item {
				> .#{ $_prefix }c-row {
					> .#{ $_prefix }c-row__col:last-child {
						border-left: 1px solid var(--smb-information--style--border--border-color);
					}
				}

				&__label {
					padding: var(--smb-information--item-padding);
				}
			}
		}
	}
}
