@import '../../css/core/block';

.smb-box {
	--smb-box--border-radius: var(--_border-radius);
	--smb-box--padding: var(--_padding1);
	--smb-box--border-color: var(--_lighter-color-gray);

	position: relative;
	border-radius: var(--smb-box--border-radius);
	padding: var(--smb-box--padding);
	overflow: visible;

	&--p-s {
		--smb-box--padding: var(--_padding-1);
	}

	&--p-l {
		--smb-box--padding: var(--_padding2);
	}

	&__background {
		@include _alert();
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border: 0 solid var(--smb-box--border-color);
		border-radius: var(--smb-box--border-radius);
	}

	&__body {
		position: relative;
		// @include _content();
	}
}
