@charset 'utf-8';

@import '../../src/css/core/block';

.smb-btn-box {
  @include _padding(1.5, 0);

  &__lede {
    @include _margin-bottom(.5);
    font-weight: bold;
    text-align: center;
  }

  &__btn-wrapper {
    text-align: center;
  }

  &__note {
    @include _margin-top(.5);
    color: $_color-gray; // For IE11
    color: _var-color-gray();
    text-align: center;
  }

  .#{ $_prefix }c-container {
    @include _container-padding(false);
  }
}

.smb-btn-box.is-style-ghost {
  .smb-btn {
    background-color: transparent !important;
    border: 1px solid $color-accent;
    color: $color-accent;
  }
}
