.smb-testimonial {
  &__item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    &__figure {
      @include _margin-top($_between-lines);
      @include _margin-right(.5);
      flex: 0 0 48px;
      max-width: 48px;

      img {
        @include _circle(48px);
      }
    }

    &__body {
      flex: 1 1 auto;
      max-width: 100%;
    }

    &__name {
      @include _font-size($_base-font-size-px - 4);
      line-height: 1.2;

      a {
        color: $_color-text;
      }
    }

    &__lede {
      color: $_color-gray;
      @include _font-size($_base-font-size-px - 6);
      line-height: 1.6;

      a {
        color: $_color-gray;
      }
    }

    &__content {
      margin-bottom: 16px;
      @include _font-size-line-height($_base-font-size-px - 2);

      &::after {
        margin-top: 14px;
        content: '';
        display: block;
        height: 1px;
        width: $_base-font-size-px * 2;
        background-color: $_color-text;
      }
    }
  }
}
