@charset 'utf-8';

@import '../../src/css/core/block';

.editor-styles-wrapper {
  .smb-testimonial {
    &__item__figure {
      > .components-button {
        height: 100%;
        width: 100%;

        > img {
          height: 100%;
        }
      }
    }

    &__body {
      > .c-row {
        > .block-list-appender {
          @include _margin-right(.5);
          @include _margin-left(.5);
          flex: 1 1 100%;
        }
      }
    }
  }
}
