@charset 'utf-8';

@import '../../src/css/core/block';

.smb-testimonial {
  &__item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    &__figure {
      @include _margin-top($_half-leading * 1rem);
      @include _margin-right(.5);
      flex: 0 0 48px;
      @include _circle(48px);
      max-width: 48px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 50% 50%;
      }
    }

    &__body {
      flex: 1 1 auto;
      max-width: 100%;
    }

    &__name {
      @include _font-size($_base-font-size-px - 4);
      line-height: 1.2;

      a {
        color: inherit;
      }
    }

    &__lede {
      color: $_color-gray; // For IE11
      color: _var-color-gray();
      @include _font-size($_base-font-size-px - 6);
      line-height: 1.6;

      a {
        color: inherit;
      }
    }

    &__content {
      margin-bottom: 16px;
      @include _font-size-line-height($_base-font-size-px - 2);

      &::after {
        margin-top: 14px;
        content: '';
        display: block;
        height: 1px;
        width: 2rem;
        background-color: $_color-text; // For IE11
        background-color: _var-color-text();
      }
    }
  }
}
