.smb-slider {
  &__canvas {
    visibility: hidden;

    &.slick-initialized {
      visibility: visible;
    }

    &[dir="rtl"] {
      .slick-next {
        left: 10px;
        right: auto;
      }

      .slick-prev {
        right: 10px;
        left: auto;
      }
    }
  }

  .slick-next {
    right: 10px;
    z-index: 1;
  }

  .slick-prev {
    left: 10px;
    z-index: 1;
  }
}
