.smb-slider {
  &__canvas {
    visibility: visible !important;
  }

  .smb-add-item-button-wrapper {
    text-align: center;
  }

  // @todo MediaPlaceholder
  .components-drop-zone,
  .components-form-file-upload {
    display: none !important;
  }
}

[data-type="snow-monkey-blocks/slider"].is-selected {
  .smb-slider {
    &__canvas {
      @include _row();
      @include _row--margin(.5);
    }

    &__item {
      @include _row__col(1, 2);
      @include _row__col--margin(.5);
    }
  }
}
