@charset 'utf-8';

@import '../../src/css/core/block';

.smb-slider > .smb-slider__canvas.slick-initialized {
  margin-bottom: 0;
  padding-bottom: 0;
}

.smb-slider {
  @supports(object-fit: cover) {
    &--16to9,
    &--4to3 {
      .smb-slider__item__figure {
        position: relative;

        &::before {
          content: '';
          display: block;
        }

        & > img {
          @include _position(absolute, 0, 0, 0, 0);
          object-fit: cover;
          object-position: 50% 50%;
          height: 100%;
        }
      }
    }

    &--16to9 {
      .smb-slider__item__figure::before {
        padding-top: 9 / 16 * 100%;
      }
    }

    &--4to3 {
      .smb-slider__item__figure::before {
        padding-top: 3 / 4 * 100%;
      }
    }
  }

  &__canvas {
    visibility: hidden;
    padding-bottom: 35px;

    &.slick-slider {
      margin-bottom: 0;
    }

    &.slick-initialized {
      visibility: visible;

      .slick-slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > * {
          flex: 1 1 auto;
        }
      }
    }

    &[dir="rtl"] {
      .slick-next {
        left: 10px;
        right: auto;
      }

      .slick-prev {
        right: 10px;
        left: auto;
      }

      .smb-slider__item__caption {
        direction: ltr;
      }
    }
  }

  &__item {
    &__figure {
      width: 100%;

      > img {
        width: 100%;
      }
    }

    &__caption {
      @include _margin-top(.5);
      display: flex;
      justify-content: center;
      flex-direction: row;
      color: $_color-gray; // For IE11
      color: _var-color-gray();
      @include _font-size-line-height($_base-font-size-px - 2);
    }
  }

  .slick-next {
    right: 10px;
    z-index: 1;
  }

  .slick-prev {
    left: 10px;
    z-index: 1;
  }

  .slick-dots {
    position: static;
    bottom: 0;
    line-height: 1;
  }
}
