@charset 'utf-8';

@import '../../src/css/core/block';

.smb-slider > .smb-slider__canvas.slick-initialized {
  margin-bottom: 0;
  padding-bottom: 0;
}

.smb-slider {
  &__canvas {
    visibility: hidden;
    padding-bottom: 35px;

    &.slick-slider {
      margin-bottom: 0;
    }

    &.slick-initialized {
      visibility: visible;

      .slick-slide {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &[dir="rtl"] {
      .slick-next {
        left: 10px;
        right: auto;
      }

      .slick-prev {
        right: 10px;
        left: auto;
      }

      .smb-slider__item__caption {
        direction: ltr;
      }
    }
  }

  &__item {
    &__figure {
      > img {
        width: 100%;
      }
    }

    &__caption {
      @include _margin-top(.5);
      display: flex;
      justify-content: center;
      flex-direction: row;
      color: $_color-gray;
      @include _font-size-line-height($_base-font-size-px - 2);
    }
  }

  .slick-next {
    right: 10px;
    z-index: 1;
  }

  .slick-prev {
    left: 10px;
    z-index: 1;
  }

  .slick-dots {
    position: static;
    bottom: 0;
    line-height: 1;
  }
}
