@charset 'utf-8';

@import '../../src/css/core/block';

.smb-media-text {
  &--mobile-text {
    .c-row__col:first-child {
      @include _media-max(md) {
        order: 0 !important;
      }
    }
  }

  &--mobile-image {
    .c-row__col:first-child {
      @include _media-max(md) {
        order: 1 !important;
      }
    }
  }

  &__title {
    @include _font-size-line-height($_h2-font-size-scale / 1.25);

    @include _media-min(lg) {
      @include _font-size-line-height($_h2-font-size-scale);
    }
  }

  &__title,
  .block-editor-rich-text {
    & + .smb-media-text__body {
      @include _margin-top(.75);
    }
  }

  &__figure {
    > img,
    > video {
      height: auto;
      width: 100%;
    }
  }

  &__caption {
    @include _margin-top(.25);
    color: $_color-gray; // For IE11
    color: _var-color-gray();
    @include _font-size-line-height($_base-font-size-px - 2);
  }

  > .c-row--reverse {
    > .c-row__col:first-child {
      @include _media-max(md) {
        order: 1;
      }
    }
  }
}
