@import '../../css/core/block';

.smb-thumbnail-gallery > .smb-thumbnail-gallery__canvas.slick-initialized {
	margin-bottom: 0;
}

.smb-thumbnail-gallery {
	&__canvas {
		visibility: hidden;

		&.slick-initialized {
			visibility: visible;
		}

		.slick-dots {
			position: static;
			width: auto;
			margin-top: var(--_margin-1);
			@include _row();
			margin-bottom: calc(-1 * var(--_margin-1));
			margin-right: calc(-1 * var(--_margin-1) * .5);
			margin-left: calc(-1 * var(--_margin-1) * .5);

			> li {
				margin: 0;
				height: auto;
				width: auto;
				@include _row__col(1, 4);
				margin-bottom: var(--_margin-1);
				padding-right: calc(var(--_margin-1) * .5);
				padding-left: calc(var(--_margin-1) * .5);
			}
		}
	}

	&__item {
		&__figure {
			> img {
				width: 100%;
			}
		}

		&__caption {
			margin-top: var(--_margin-1);
			display: flex;
			justify-content: center;
			flex-direction: row;
			@include _set-font-size-level(-1);
		}
	}

	// backward compatibility
	&__nav {
		display: none !important;
	}

	.slick-next {
		right: 10px;
		z-index: 1;
	}

	.slick-prev {
		left: 10px;
		z-index: 1;
	}

	.slick-dots {
		position: static;
		bottom: 0;
		line-height: 1;
	}
}
