@charset 'utf-8';

@import '../../src/css/core/block';

.smb-countdown {
	&__list {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
		display: flex;
		align-items: center;
		align-self: center;
		flex-wrap: wrap;
		flex-direction: row;
  }

  &__list-item {
    @include _margin(0, .25);
    text-align: center;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &__numeric {
      display: block;
      @include _font-size-line-height(1.5);
      font-weight: bold;
    }

    &__clock {
      display: block;
      @include _font-size-line-height(.75);
    }
	}

	.align-center {
		justify-content: center;
	}

	.align-left {
		justify-content: flex-start;
	}

	.align-right {
		justify-content: flex-end;
	}
}

.is-style-inline {
  .smb-countdown__list-item__numeric,
  .smb-countdown__list-item__clock {
    display: inline;
  }
}
