
.settings_page_snow-monkey-blocks {
  .form-table {
    tbody {
      @media screen and (min-width: 783px) {
        display: flex;
        flex-wrap: wrap;
      }
    }

    tr {
      @media screen and (min-width: 783px) {
        flex: 1 1 25%;
        max-width: 25%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
      }
    }

    th {
      width: auto;

      @media screen and (min-width: 783px) {
        flex: 1 1 auto;
      }
    }

    td {
      @media screen and (min-width: 783px) {
        flex: 0 1 auto;
        margin-bottom: 0;
        line-height: 1;
      }
    }
  }
}
