.js-bg-parallax {
  position: relative;
  overflow: hidden;

  &[data-is-mobile="true"] {
  }

  &[data-is-loaded="true"] {
    .js-bg-parallax__bgimage {
      opacity: 1;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      > img {
        position: absolute;
        top: 50%;
        left: 0;
        height: auto;
        width: 100%;
        min-height: 100%;
        max-height: none;
        will-change: transform;
        transform: translateY(-50%);
      }
    }
  }

  &__bgimage {
    opacity: 0;
    transition: opacity .1s ease-in;
  }

  &__content {
    position: relative;
  }
}
