.js-bg-parallax {
  position: relative;
  transition: opacity .1s ease-in;
  overflow: hidden;

  &[data-is-mobile="true"] {
  }

  &[data-is-loaded="true"] {
    .js-bg-parallax__bgimage {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      > img {
        position: absolute;
        top: 50%;
        left: 0;
        height: auto;
        width: 100%;
        min-height: 100%;
        will-change: transform;
        transform: translate3d(0, -50%, 0);
      }
    }
  }

  &__content {
    position: relative;
  }
}
