// @todo 全部見直し

html :where(.wp-block-post-content,.wp-block-widget-area__inner-blocks) {
	/**
	 * Slider
	 */
	.spider__slide {
		opacity: 1;
		visibility: visible;
	}
}

.block-editor-block-list__block {
	.c-row[data-columns],
	.c-row--margin {
		> .block-list-appender {
			margin-right: calc(var(--_gap) * .5);
			margin-left: calc(var(--_gap) * .5);
			flex: 1;
		}

		> .block-list-appender:first-child {
			margin-bottom: var(--_gap);
		}
	}
}

.smb-slider-pagination {
	display: flex;
	gap: 3px;
	margin-top: 1rem;

	> .components-button {
		padding: 12px;
		height: auto;

		> span {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 24px;
			width: 24px;
			overflow: hidden;
		}
	}
}

.smb-spider-slider--shifted.alignfull,
.smb-spider-slider--shifted.alignwide {
	> .smb-slider-pagination::before,
	> .smb-slider-pagination::after {
		content: '';
		display: block;
		flex: 0 0 auto;
		width: calc((var(--spider--canvas-width) - var(--spider--reference-width)) / 2 - var(--smb-spider-slider--gap));
	}
}
