@charset 'UTF-8';

$_font-path: false;
@import 'core/variable/variable';
@import '../../node_modules/sass-basis/src/css/basis-core';
@import 'core/mixin/mixin';

@mixin content($coefficient: 1) {
  > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  @include _content($coefficient);
}

@import '../../block/alert/block';
@import '../../block/balloon/block';
@import '../../block/btn/block';
@import '../../block/box/block';
@import '../../block/pricing-table/block';
@import '../../block/section/block';
@import '../../block/section-with-image/block';
@import '../../block/section-with-bgimage/block';
@import '../../block/btn-box/block';
@import '../../block/rating-box/block';
@import '../../block/faq/block';
@import '../../block/step/block';
@import '../../block/testimonial/block';
@import '../../block/list/block';
@import '../../block/items/block';
@import '../../block/slider/block';
@import '../../block/panels/block';
@import '../../block/media-text/block';

.smb-highlighter {
  background: linear-gradient(transparent 60%, rgba(#fffd6b, .7) 60%);
}
