@charset 'UTF-8';

@import 'blocks.scss';

@import '../../block/alert/editor';
@import '../../block/balloon/editor';
@import '../../block/box/editor';
@import '../../block/section/editor';
@import '../../block/btn/editor';
@import '../../block/btn-box/editor';
@import '../../block/faq/editor';
@import '../../block/list/editor';
@import '../../block/section-with-bgimage/editor';
@import '../../block/step/editor';
@import '../../block/items/editor';
@import '../../block/pricing-table/editor';
@import '../../block/slider/editor';
@import '../../block/rating-box/editor';
@import '../../block/testimonial/editor';
@import '../../block/panels/editor';
@import '../../block/media-text/editor';
@import '../../block/thumbnail-gallery/editor';
@import '../../block/categories-list/editor';
@import '../../block/accordion/editor';

.#{$_prefix}c-row {
  @each $size, $screen-min in $_sizes {
    @include _media-min($screen-min) {
      $prefix: _size-prefix($size);

      @for $i from 1 through 6 {
        &#{$prefix}-#{$i} {
          margin: 0;

          > .editor-inner-blocks {
            flex: 1 1 0%;

            > .editor-block-list__layout {
              display: flex;
              flex-wrap: wrap;

              > [data-type^="snow-monkey-blocks"] {
                display: flex;
                @include _row__col--width(1 / $i * 100%);
                margin-right: 0;
                margin-left: 0;

                > .editor-block-list__insertion-point,
                > .components-drop-zone,
                > .editor-block-mover {
                  display: none !important;
                }

                > .editor-block-list__block-edit {
                  display: flex;
                  margin-top: 0 !important;

                  > [data-block] {
                    display: flex;

                    > .#{$_prefix}c-row__col {
                      display: flex;
                    }
                  }
                }
              }

              > .block-list-appender {
                @include _row__col--width(100%);
              }
            }
          }
        }
      }
    }
  }
}

.smb-remove-button {
  display: inline-block;
  cursor: pointer;
  font-size: 12px !important;
  line-height: 1 !important;
  border: 0;
  padding: 6px 8px;
  color: #fff;
  background-color: #cd3034;
  border-radius: 4px;
  transition: all .3s;

  @include _media-min(lg) {
    opacity: .6;
  }

  @include _hover(lg) {
    opacity: 1;
  }
}

.smb-add-item-button,
.smb-remove-item-button {
  margin: 5px !important;
  box-shadow: 0 0 0 5px #fff;
  border: none;
  border-radius: 100%;
  line-height: 1 !important;
  padding: 0;
  cursor: pointer;
  outline: none;
  transition: all .3s;
}

.smb-add-item-button {
  color: #21a1d0;

  @include _hover(lg) {
    box-shadow: 0 0 0 5px rgba(#21a1d0, .2);
  }
}

.smb-remove-item-button {
  color: #cd3034;

  @include _hover(lg) {
    box-shadow: 0 0 0 5px rgba(#cd3034, .2);
  }
}

.editor-writing-flow {
  overflow: hidden;
}

[data-type^="snow-monkey-blocks"] {
  .editor-block-list__layout {
    .editor-block-list__block {
      &:first-child {
        > .editor-block-list__block-edit {
          margin-top: 0;
        }
      }
    }
  }

  .editor-default-block-appender {
    display: none;

    > .editor-default-block-appender__content {
      margin-bottom: 0;
    }
  }

  .editor-inner-blocks > .editor-block-list__layout {
    div:first-child {
      > .editor-default-block-appender {
        > .editor-default-block-appender__content {
          margin-top: 0;
        }
      }
    }
  }

  &.is-selected {
    .editor-default-block-appender {
      display: block;
      outline: 1px dashed rgba(145, 151, 162, .25);

      @include _hover(lg) {
        outline: 1px dashed #007cba;
      }
    }
  }

  .editor-rich-text__tinymce[data-is-placeholder-visible="true"] + .editor-rich-text__tinymce.wp-block-paragraph {
    margin-top: 0;
  }

  .block-list-appender {
    position: relative;
    top: 14px;
    display: none;
  }

  &.is-selected .editor-inner-blocks > .editor-block-list__layout > .block-list-appender {
    display: block;
  }
  &.is-selected .editor-inner-blocks .editor-inner-blocks .block-list-appender {
    display: none;
  }

  // Touchable parent block
  .editor-inner-blocks {
    padding-top: 24px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: -24px;
      bottom: 0;
      left: -24px;
      display: block;
    }
  }
}
