.editor-block-types-list__item {
  &.editor-block-list-item-snow-monkey-blocks-section,
  &.editor-block-list-item-snow-monkey-blocks-section-has-bgimage,
  &.editor-block-list-item-snow-monkey-blocks-section-has-image,
  &.editor-block-list-item-snow-monkey-blocks-section-has-items {
    position: relative;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      content: 'Pro';
      display: inline-block;
      font-size: 10px;
      line-height: 1;
      color: #fff;
      background-color: #cd3034;
      border-radius: 2px;
      padding: 3px 4px;
    }
  }
}
