@charset 'UTF-8';

@import 'core/block';

//@import '../../block/alert/block';
//@import '../../block/balloon/block';
//@import '../../block/btn/block';
//@import '../../block/box/block';
//@import '../../block/pricing-table/block';
//@import '../../block/section/block';
@import '../../block/section-with-bgimage/block';
@import '../../block/section-with-bgvideo/block';
//@import '../../block/section-break-the-grid/block';
//@import '../../block/section-side-heading/block';
//@import '../../block/btn-box/block';
//@import '../../block/rating-box/block';
//@import '../../block/faq/block';
@import '../../block/step/block';
@import '../../block/testimonial/block';
//@import '../../block/list/block';
//@import '../../block/items/block';
@import '../../block/slider/block';
//@import '../../block/panels/block';
//@import '../../block/media-text/block';
@import '../../block/thumbnail-gallery/block';
//@import '../../block/categories-list/block';
//@import '../../block/evaluation-star/block';
//@import '../../block/accordion/block';
//@import '../../block/countdown/block';
//@import '../../block/directory-structure/block';
//@import '../../block/price-menu/block';

@import '../../format/highlighter/format';
@import '../../format/badge/format';

.smb-section,
.smb-btn-box,
.smb-slider,
.smb-pickup-slider {
  & + .smb-section,
  & + .smb-btn-box,
  & + .smb-slider,
  & + .smb-pickup-slider {
    margin-top: 0;
  }
}

.#{$_prefix}c-row {
  @each $size, $screen-min in $_sizes {
    @include _media-min($screen-min) {

      @for $i from 1 through 6 {
        $prefix: '';
        @if $size != 'sm' {
          $prefix: -#{$size};
        }

        &[data#{$prefix}-columns="#{$i}"] {
          > .#{$_prefix}c-row__col {
            @include _row__col--width(1 / $i * 100%);
          }
        }
      }
    }
  }
}
