@charset 'UTF-8';

@import 'core/block';

.#{$_prefix}c-row {
  > .block-editor-inner-blocks {
    > .block-editor-block-list__layout {
      > [data-type^="snow-monkey-blocks"] {
        margin-top: 0;
      }
    }
  }
}

.#{$_prefix}c-row[data-columns] {
  margin: 0;

  > .block-editor-inner-blocks {
    flex: 1 1 0%;

    > .block-editor-block-list__layout {
      display: flex;
      flex-wrap: wrap;

      > [data-type^="snow-monkey-blocks"] {
        margin-right: 0;
        margin-left: 0;
      }

      > .block-list-appender {
        @include _row__col--width(100%);
      }
    }
  }
}

&.#{$_prefix}c-row--margin {
  > .block-editor-inner-blocks {
    > .block-editor-block-list__layout {
      > [data-type^="snow-monkey-blocks"] {
        @include _row__col--margin(1);
      }
    }
  }
}

.#{$_prefix}c-row {
  @each $size, $screen-min in $_sizes {
    @include _media-min($screen-min) {
      $prefix: '';
      @if $size != 'sm' {
        $prefix: -#{$size};
      }

      @for $i from 1 through 6 {
        &[data#{$prefix}-columns="#{$i}"] {
          > .block-editor-inner-blocks {
            > .block-editor-block-list__layout {
              > [data-type^="snow-monkey-blocks"] {
                @include _row__col--width(1 / $i * 100%);
              }
            }
          }
        }
      }
    }
  }
}

[data-type^="snow-monkey-blocks"] {
  .components-placeholder__label .dashicon {
      margin-right: .25em;
  }

  .block-list-appender:first-child {
    .block-editor-default-block-appender {
      .block-editor-default-block-appender__content {
        margin-top: 0;
      }
    }
  }

  .block-editor-default-block-appender {
    .block-editor-default-block-appender__content {
      margin-bottom: 0;
    }
  }

  &.is-selected {
    .block-editor-default-block-appender {
      outline: 1px dashed rgba(145, 151, 162, .25);

      @include _hover(lg) {
        outline: 1px dashed #007cba;
      }
    }
  }

  .block-editor-inner-blocks {
    position: relative; // Touchable parent block

    > .block-editor-block-list__layout {
      > * {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}
