@import 'core/block';

.smb-list-icon-selector {
  .components-button {
    margin: 1px;
    min-width: 35px;

    > .svg-inline--fa {
      margin: 0 auto;
    }
  }
}

.smb-inspector-tabs {
  .components-tab-panel__tabs {
    border-bottom: 2px solid #e2e4e7;

    button {
      margin-bottom: -2px;
      border: none;
      border-bottom: 2px solid #e2e4e7;
      background-color: transparent;
      padding: 6px 16px;

      &.is-active {
        color: #1486b8;
        border-bottom-color: #1486b8;
        outline: none;
      }
    }
  }

  .components-tab-panel__tab-content {
    padding: 16px 0 0;
  }
}

.block-editor-url-input > input[type="text"] {
  max-width: 100%;
}

.smb-menu__template-block__modal__screenshot {
  max-width: 100%;
  height: auto;
}

.smb-badge-popover {
  &__inner {
    padding: 14px;
  }

  &.components-popover:not(.is-mobile) .components-popover__content {
    min-width: 270px;
  }
}

.smb-date-time-picker {
  &__action {
    display: flex;
    justify-content: space-between;

    .components-button {
      flex: 0 0 auto;
    }
  }

  .components-datetime {
    .components-datetime__date-help-button {
      display: none;
    }
  }

  [aria-label="Calendar"] {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.block-editor-color-gradient-control__color-indicator .components-base-control__label {
  display: flex;
  align-items: center;
}
