@charset 'UTF-8';

@import 'core/block';

.editor-styles-wrapper,
.customize-control-sidebar_block_editor {
  //@include related-components();

  .#{$_prefix}c-row[data-columns],
  .#{$_prefix}c-row--margin {
    > .block-list-appender {
      @include _row__col--width(100%);
    }
  }

  .#{$_prefix}c-row--margin {
    > .block-list-appender {
      @include _margin-right(.5);
      @include _margin-left(.5);
    }
  }
}

.block-editor-block-list__block.#{ $_prefix }c-row__col {
  margin-top: 0;
}

&.#{$_prefix}c-row--margin {
  > [data-type^="snow-monkey-blocks"] {
    @include _row__col--margin(1);
  }
}

[data-type^="snow-monkey-blocks"] {
  .components-placeholder__label .dashicon {
      margin-right: .25em;
  }

  .block-list-appender:empty {
    margin-top: 0;
    margin-bottom: 0;
  }

  .block-list-appender:first-child {
    .block-editor-default-block-appender {
      .block-editor-default-block-appender__content {
        margin-top: 0;
      }
    }
  }

  .block-editor-default-block-appender {
    .block-editor-default-block-appender__content {
      margin-bottom: 0;
    }
  }

  &.is-selected {
    .block-editor-default-block-appender {
      outline: 1px dashed rgba(145, 151, 162, .25);

      @include _hover(lg) {
        outline: 1px dashed #007cba;
      }
    }
  }
}
