.smb-list-icon-selector {
  .components-button {
    margin: 1px;
    min-width: 35px;

    > .svg-inline--fa {
      margin: 0 auto;
    }
  }
}

.smb-inspector-tabs {
  .components-tab-panel__tabs {
    border-bottom: 2px solid #e2e4e7;

    button {
      margin-bottom: -2px;
      border: none;
      border-bottom: 2px solid #e2e4e7;
      background-color: transparent;
      padding: 6px 16px;

      &.is-active {
        color: #1486b8;
        border-bottom-color: #1486b8;
        outline: none;
      }
    }
  }

  .components-tab-panel__tab-content {
    padding: 16px 0 0;
  }
}
