@charset 'UTF-8';

@import 'core/variable/variable';
@import '../../node_modules/sass-basis/src/css/basis-core';

.#{$_prefix}c-container {
  @include _container();
}

.#{$_prefix}c-row {
  @include _row();

  @each $size, $screen-min in $_sizes {
    @include _media-min($screen-min) {
      $prefix: _size-prefix($size);

      &#{$prefix}-margin {
        @include _row--margin(1);

        > .#{$_prefix}c-row__col {
          @include _row__col--margin(1);
        }
      }
    }
  }

  &__col {
    @include _row__col(null, null);

    @each $size, $screen-min in $_sizes {
      @include _media-min($screen-min) {
        $prefix: _size-prefix($size);

        @for $max_columns from 1 through $_max-columns {
          @for $i from 1 through $max_columns {
            &#{$prefix}-#{$i}-#{$max_columns} {
              @include _row__col($i, $max_columns);
            }
          }
        }
      }
    }
  }
}
