@charset 'utf-8';

@import '../../src/css/core/block';

.smb-spider-pickup-slider {
  .spider__slide {
    position: relative;
    overflow: hidden;
    background-color: $_color-black; // For IE11
    background-color: _var-color-black();
    max-height: 80vh;

    @include _media-min(lg) {
      max-height: 75vh;
      min-height: 650px;
    }

    &::before {
      content: '';
      display: block;
      padding: 56.25% 0 0;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, .15);
    }

    .spider__figure {
      position: absolute;
      top: 50%; // For IE11
      left: 50%; // For IE11
      transform: translate(-50%, -50%); // For IE11
      width: 100%;

      @supports (object-fit: cover) {
        top: 0;
        left: 0;
        transform: initial;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
      }
    }
  }

  &__item {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include _container-padding(false);
    color: $_color-white; // For IE11
    color: _var-color-white();
    text-shadow: rgba($_color-text, .3) 1px 1px 3px;

    @include _media-min(md) {
      max-width: _strip-unit(map-get($_sizes, md)) * 1rem;
    }

    @include _media-min(lg) {
      max-width: _strip-unit(map-get($_sizes, lg)) * 1rem;
    }

    > *:not(:first-child) {
      @include _margin-top(.5);

      @include _media-min(lg) {
        @include _margin-top(1);
      }
    }

    &__title {
      font-weight: bold;
      @include _font-size-line-height(1.5);
      max-width: 100%; // For IE11

      @include _media-min(md) {
        @include _font-size-line-height(2);
      }

      @include _media-min(lg) {
        @include _font-size-line-height(3);
      }

      a {
        color: inherit;
        text-decoration: none;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }
    }

    &__meta {
      color: $_color-white; // For IE11
      color: _var-color-white();
      @include _font-size-line-height($_base-font-size-px - 2);

      img {
        display: inline-block !important;
      }
    }
  }
}

.smb-section + .smb-spider-pickup-slider.alignfull {
  margin-top: 0;
}

.alignwide,
.alignfull {
  &.smb-spider-pickup-slider {
    &__item {
      @include _container-padding();
    }
  }
}
