@charset 'utf-8';

.smb-section-side-heading {
  // @deprecated
  &__subtitle,
  &__title {
    text-align: left;
  }

  &__header {
    text-align: left;

    > * {
      text-align: inherit;
    }
  }

  &__lede-wrapper {
    justify-content: flex-start;
  }
}
