.smb-thumbnail-gallery {
  &__canvas {
    visibility: visible !important;
  }

  .smb-add-item-button-wrapper {
    text-align: center;
  }
}

[data-type="snow-monkey-blocks/thumbnail-gallery"].is-selected {
  .smb-thumbnail-gallery {
    &__canvas {
      @include _row();
      @include _row--margin(.5);
    }

    &__item {
      position: relative;
      @include _row__col(1, 2);
      @include _row__col--margin(.5);

      .smb-remove-button {
        position: absolute;
        top: 5px;
        right: 5px;
      }
    }
  }
}
