@charset 'utf-8';

@import '../../src/css/core/block';

.smb-thumbnail-gallery > .smb-thumbnail-gallery__canvas.slick-initialized {
  margin-bottom: 0;
}

.smb-thumbnail-gallery {
  &__canvas {
    visibility: hidden;

    &.slick-initialized {
      visibility: visible;
    }

    .slick-dots {
      position: static;
      width: auto;
      @include _margin-top(.5);
      @include _row();
      @include _row--margin(.5);

      > li {
        margin: 0;
        height: auto;
        width: auto;
        @include _row__col(1, 4);
        @include _row__col--margin(.5);
      }
    }
  }

  &__item {
    &__figure {
      > img {
        width: 100%;
      }
    }

    &__caption {
      @include _margin-top(.5);
      display: flex;
      justify-content: center;
      flex-direction: row;
      color: $_color-gray; // For IE11
      color: _var-color-gray();
      @include _font-size-line-height($_base-font-size-px - 2);
    }
  }

  // backward compatibility
  &__nav {
    display: none !important;
  }

  .slick-next {
    right: 10px;
    z-index: 1;
  }

  .slick-prev {
    left: 10px;
    z-index: 1;
  }

  .slick-dots {
    position: static;
    bottom: 0;
    line-height: 1;
  }
}
