@import '../../css/core/block';

.smb-rating-box {
	--smb-rating-box--gap: var(--_margin-1);
	--smb-rating-box--bar-border-radius: var(--_global--border-radius);
	--smb-rating-box--bar-background-color: var(--_lighter-color-gray);
	--smb-rating-box--rating-background-color: #f9bb2d;

	&__body {
		> * + * {
			margin-top: var(--smb-rating-box--gap);
		}
	}

	&__item {
		&__title {
			margin-bottom: var(--_margin-2);
		}

		&__evaluation {
			&__bar,
			&__rating {
				height: 1rem;
				border-radius: var(--smb-rating-box--bar-border-radius);
			}

			&__bar {
				position: relative;
				background-color: var(--smb-rating-box--bar-background-color);
			}

			&__rating {
				position: absolute;
				top: 0;
				left: 0;
				background-color: var(--smb-rating-box--rating-background-color);
			}

			&__numeric {
				position: absolute;
				top: -2rem;
				right: 0;
				@include _set-font-size-level(-2);
			}
		}
	}
}
