@charset 'utf-8';

.smb-spider-contents-slider {
  > .spider {
    > .block-editor-block-list__layout {
      overflow: hidden;
      // scroll-snap-type: x mandatory;

      > .spider__slide {
        opacity: 1 !important;
        visibility: visible !important;
      }

      > .block-list-appender {
        flex: 1 1 auto;

        &:not(:first-child) {
          display: none;
        }
      }
    }
  }
}

.smb-spider-contents-slider[data-fade=true] > .spider > .block-editor-block-list__layout .spider__slide {
  max-width: calc(100% - 1px) !important;
}
