@charset 'utf-8';

@import '../../src/css/core/block';

.smb-spider-contents-slider {
  $contentPaddings: (
    1: 's',
    2: 'm',
    3: 'l',
  );

  > .spider {
    > .spider__canvas {
      > .spider__slide {
        border: 0 solid transparent;

        &[data-content-position] {
          > .smb-spider-contents-slider__item {
            height: auto;
          }
        }
      }
    }
  }

  &__item {
    flex: 1 1 100%;
    height: 100%;
    max-width: 100%;
    @include _content();

    @each $key, $value in $contentPaddings {
      &--p-#{ $value } {
        @include _padding($key / 2);

        @include _media-min(md) {
          @include _padding($key);
        }
      }
    }

    > .smb-section {
      height: 100%;
    }
  }
}
