@charset 'utf-8';

@import '../../src/css/core/block';

.smb-spider-contents-slider {
  $contentPaddings: (
    1: 's',
    2: 'm',
    3: 'l',
  );

  > .spider {
    > .spider__canvas {
      > .spider__slide {
        &[data-content-position] {
          display: flex;

          > .smb-spider-contents-slider__item {
            flex: 0 1 auto;
            margin-right: 0;
            margin-left: 0;
            height: auto;
          }
        }

        // Position: Top
        &[data-content-position="top-left"] {
          align-items: flex-start;
          justify-content: flex-start;
        }
        &[data-content-position="top-center"] {
          align-items: flex-start;
          justify-content: center;
        }
        &[data-content-position="top-right"] {
          align-items: flex-start;
          justify-content: flex-end;
        }
        // Position: Center
        &[data-content-position="center-left"] {
          align-items: center;
          justify-content: flex-start;
        }
        &[data-content-position="center-center"] {
          align-items: center;
          justify-content: center;
        }
        &[data-content-position="center-right"] {
          align-items: center;
          justify-content: flex-end;
        }
        // Position: Bottom
        &[data-content-position="bottom-left"] {
          align-items: flex-end;
          justify-content: flex-start;
        }
        &[data-content-position="bottom-center"] {
          align-items: flex-end;
          justify-content: center;
        }
        &[data-content-position="bottom-right"] {
          align-items: flex-end;
          justify-content: flex-end;
        }
      }
    }
  }

  &__item {
    flex: 1 1 100%;
    height: 100%;
    max-width: 100%;
    @include _content();

    @each $key, $value in $contentPaddings {
      &--p-#{ $value } {
        @include _padding($key / 2);

        @include _media-min(md) {
          @include _padding($key);
        }
      }
    }

    > .smb-section {
      height: 100%;
    }
  }
}
