@import '../../css/core/block';

.smb-evaluation-star {
	--smb-evaluation-star--icon-color: #f9bb2d;

	display: flex;
	align-items: center;

	&__title {
		margin-right: var(--_margin-2);
		margin-left: 0;
	}

	&--title-right {
		.smb-evaluation-star__title {
			order: 1;
			margin-right: 0;
			margin-left: var(--_margin-2);
		}
	}

	&__body {
		display: inline-block;
	}

	&__numeric {
		font-weight: bold;

		&--left {
			float: left;
			margin-right: var(--_margin-2);
		}

		&--right {
			float: right;
			margin-left: var(--_margin-2);
		}
	}

	&__icon {
		display: inline-block;
		color: var(--smb-evaluation-star--icon-color);
	}
}
