.smb-pricing-table {
  &__item__figure {
    position: relative;

    .smb-remove-button {
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }

  .#{$_prefix}c-row {
    > .editor-inner-blocks {
      > .editor-block-list__layout {
        > [data-type="snow-monkey-blocks/pricing-table--item"] {
          @include _row__col(1, 1);
          padding-right: 0;
          padding-left: 0;

          @include _media-min(md) {
            @include _row__col--width(1);
          }

          > .editor-block-list__block-edit {
            margin-right: 0 !important;
            margin-left: 0 !important;

            &::before {
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
            }
          }
        }
      }
    }
  }

  /*
  &__row {
    display: block;

    > .editor-inner-blocks {
      > .editor-block-list__layout {
        display: flex;
        flex-wrap: wrap;

        // like .smb-pricing-table__col
        > [data-type="snow-monkey-blocks/pricing-table--item"] {
          @include _row__col(1, 1);
          padding-right: 0;
          padding-left: 0;

          @include _media-min(md) {
            @include _row__col--width(1);
          }

          &:not(:first-child) {
            border-top: 1px solid _lighter($_color-gray);

            @include _media-min(lg) {
              border-top: none;
              border-left: 1px solid _lighter($_color-gray);
            }
          }

          > .editor-block-list__insertion-point,
          > .components-drop-zone,
          > .editor-block-mover {
            display: none !important;
          }

          > .editor-block-list__block-edit {
            margin-top: 0 !important;
            margin-right: 0 !important;
            margin-left: 0 !important;
          }
        }

        > .block-list-appender {
          @include _row__col--width(100%);
        }
      }
    }
  }
  */
}
