.smb-pricing-table {
  @include _media-min(md) {
    overflow: visible;
    white-space: normal;
  }

  &__item__figure {
    position: relative;

    .smb-remove-button {
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }

  .#{$_prefix}c-row {
    .#{$_prefix}c-row__col {
      flex: 1 1 auto;
      width: auto;
    }

    > .editor-inner-blocks {
      > .editor-block-list__layout {
        display: flex;
        flex-wrap: wrap;

        > [data-type="snow-monkey-blocks/pricing-table--item"] {
          @include _row__col(1, 1);
          padding-right: 0;
          padding-left: 0;

          @include _media-min(md) {
            @include _row__col--width(1);
          }

          > .editor-block-list__block-edit {
            margin-top: 0;
            margin-right: 0 !important;
            margin-left: 0 !important;

            &::before {
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
            }
          }
        }

        > .block-list-appender {
          flex: 1 1 100%;
        }
      }
    }
  }
}
