@charset 'utf-8';

@import '../../src/css/core/block';

.editor-styles-wrapper {
  .smb-pricing-table {
    &__item {
      > ul {
        @include _list-unstyled();
        @include _margin-top(.5);
      }
    }

    .block-list-appender {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
