@charset 'utf-8';

@import '../../src/css/core/block';

.editor-styles-wrapper,
.customize-control-sidebar_block_editor {
  @import 'style';

  .smb-pricing-table {
    .block-editor-media-placeholder {
      white-space: initial;
    }

    .block-list-appender {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
