@charset 'utf-8';

@import '../../src/css/core/block';

.smb-pricing-table {
  background-color: #fff; // for IE11
  background-color: _var-background-color();
  border: 1px solid transparent;
  border-color: _lighter($_color-gray); // for IE11
  border-color: _var-lighter-color-gray();

  @include _media-min(md) {
    overflow: auto;

    &::-webkit-scrollbar {
      height: 5px;
    }

    &::-webkit-scrollbar-track{
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: #bcbcbc;
    }
  }

  // @deprecated Fallback
  &:not([data-has-items]) {
    @include _media-min(md) {
      white-space: nowrap;
    }
  }

  &[data-has-items] .c-row__col {
    @include _media-min(md) {
      flex: 1 0 auto;
      max-width: 30%;
    }
  }

  &[data-has-items="1"] .c-row__col {
    @include _media-min(md) {
      max-width: 100%;
    }
  }

  &[data-has-items="2"] .c-row__col {
    @include _media-min(md) {
      max-width: 50%;
    }
  }

  &[data-has-items="3"] .c-row__col {
    @include _media-min(md) {
     max-width: 33.3333%;
    }
  }

  $columnSize: (
    25: '1-4',
    33: '1-3',
    50: '1-2',
    100: '1-1',
  );

  @each $key, $value in $columnSize {
    &--col-size-#{$value} {
      @include _media-min(md) {
        white-space: normal;

        .#{$_prefix}c-row .#{$_prefix}c-row__col {
          flex: 1 0 auto;
          max-width: 1% * $key;
          margin-right: 0;
          margin-left: 0;
        }
      }
    }
  }

  .#{$_prefix}c-row {
    &__col {
      flex: 1 1 100%;

      &:not(:first-child) {
        border-top: 1px solid transparent;
        border-top-color: _lighter($_color-gray); // For IE11
        border-top-color: _var-lighter-color-gray();

        @include _media-min(lg) {
          border-top: none;
          border-left: 1px solid transparent;
          border-left-color: _lighter($_color-gray); // For IE11
          border-left-color: _var-lighter-color-gray();
        }
      }
    }
  }

  &__item {
    @include _padding(1);

    &__figure {
      @include _margin-bottom(.5);
      text-align: center;
    }

    &__title {
      font-weight: bold;
      text-align: center;
    }

    &__price {
      @include _font-size-line-height(1.25);
      font-weight: bold;
      text-align: center;

      @include _media-min(lg) {
        @include _font-size-line-height(1.5);
      }
    }

    &__lede {
      color: $_color-gray; // For IE11
      color: _var-color-gray();
      @include _font-size-line-height($_base-font-size-px - 2);
      text-align: center;
    }

    ul {
      @include _list-unstyled();
      @include _margin-top(.5);
      border-top: 1px solid transparent;
      border-top-color: _lighter($_color-gray); // For IE11
      border-top-color: _var-lighter-color-gray();
      text-align: center;

      > li {
        border-bottom: 1px solid transparent;
        border-bottom-color: _lighter($_color-gray); // For IE11
        border-bottom-color: _var-lighter-color-gray();
        @include _padding(.5, 0);
      }
    }

    &__action {
      @include _margin-top(1);
      text-align: center;
    }
  }
}
