@charset 'utf-8';

@import '../../src/css/core/block';

.editor-styles-wrapper {
  @import 'style';

  .smb-panels {
    &__item--horizontal {
      > .smb-panels__item__figure {
        display: flex;

        > .smb-remove-button-wrapper {
          display: flex;
          flex-direction: column;

          > .components-button {
            flex-direction: column;
            flex: 1 1 auto;
          }
        }
      }
    }

    > .#{$_prefix}c-row--margin {
      > .editor-inner-blocks > .editor-block-list__layout {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}
