.smb-items {
  &__item {
    &__figure {
      @include _margin-bottom(.5);
      text-align: center;
    }

    &__title {
      margin: 0;
      @include _font-size-line-height($_base-font-size-px);
      font-weight: bold;
    }

    &__lede {
      color: $_color-gray;
      @include _font-size-line-height($_base-font-size-px - 2);

      > a {
        color: $_color-gray;
      }
    }

    &__content {
      @include _margin-top(.25);
    }

    &__action {
      @include _margin-top(.5);
      text-align: center;
    }
  }
}
