.smb-items {
  &__item__figure {
    position: relative;

    .smb-remove-button {
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }

  .c-row__col {
    position: relative;

    .smb-add-item-button-wrapper {
      position: absolute;
      top: 0;
      right: -10px;
    }
  }
}

[data-type="snow-monkey-blocks/items"]::before,
[data-type^="snow-monkey-blocks"] [data-type="snow-monkey-blocks/items"] > .editor-block-list__block-edit::before {
  bottom: calc(#{_space(1)} - 14px);
}
