@charset 'utf-8';

@import '../../src/css/core/block';

.smb-items {
  &--glue {
    > .#{ $_prefix }c-row {
      @include _margin-bottom(-1);

      > .#{ $_prefix }c-row__col {
        @include _margin-bottom(1);
      }
    }
  }

  &--fill {
    .wp-block-snow-monkey-blocks-items--item--standard,
    .wp-block-snow-monkey-blocks-items--item--block-link {
      display: flex;
      flex-direction: column;

      .smb-items__item,
      .smb-items__item__body {
        flex: 1 1 0%;
        display: flex;
        flex-direction: column;
      }

      .smb-items__item__content {
        margin-bottom: auto;
      }
    }
  }

  a.smb-items__item {
    color: $_color-text; // for IE11
    color: _var-color-text();
    text-decoration: none;
    @include _transition(opacity);

    @include _hover(lg) {
      opacity: .8;
    }
  }

  &__item {
    display: block;
    position: relative;

    &__figure {
      @include _margin-bottom(.5);
      text-align: center;
    }

    &__title {
      margin: 0;
      @include _font-size-line-height(1);
      font-weight: bold;
    }

    &__lede {
      color: $_color-gray; // For IE11
      color: _var-color-gray();
      @include _font-size-line-height($_base-font-size-px - 2);

      > a {
        color: inherit;
      }
    }

    &__content {
      @include _margin-top(.25);
    }

    &__action {
      @include _margin-top(.5);
      text-align: center;
    }

    &--block-link {
      @include _transition(filter);

      @include _hover(lg) {
        filter: brightness(90%);
      }

      :not(.smb-items__item__action) a {
        position: relative;
        z-index: 1;
      }

      .smb-items__item__action {
        a {
          filter: none !important; // Patch to blink

          // Fallback
          &::after {
            content: '';
            @include _position(absolute, 0, 0, 0, 0);
          }
        }
      }
    }

    a.smb-items__item--block-link {
      display: block;
      color: inherit;
    }

    &--free {
      .smb-items__item__body {
        > * {
          margin-top: 0;
          margin-bottom: 0;
        }

        @include _content();
      }
    }
  }

  &__banner {
    position: relative;
    overflow: hidden;
    background-color: $_color-white; // For IE11
    background-color: _var-color-white();
    color: $_color-white; // For IE11
    color: _var-color-white();

    @include _hover(lg) {
      .smb-items__banner__figure {
        filter: brightness(80%);
      }
    }

    &[class*="has-text-align-"] {
      text-align: initial;
    }
    &.has-text-align-left .smb-items__banner__body { align-items: flex-start; }
    &.has-text-align-center .smb-items__banner__body { align-items: center; }
    &.has-text-align-right .smb-items__banner__body { align-items: flex-end; }

    &--blur {
      .smb-items__banner__figure > img {
        filter: blur(3px);
        height: calc(100% + 6px);
        width: calc(100% + 6px);
        max-height: none;
        max-width: none;
        margin: -3px;
        transform: translateZ(0);
      }
    }

    &--contents,
    &--standard,
    &--wide {
      .smb-items__banner__figure {
        @include _position(absolute, 0, 0, 0, 0);

        > img {
          @supports (object-fit: cover) {
            object-fit: cover;
          }
        }

        &__dummy {
          @include _position(absolute, 0, 0, 0, 0);

          &::before {
            display: none;
          }
        }
      }
    }

    &--contents {
      .smb-items__banner__body {
        position: relative;
      }
    }

    &--standard,
    &--wide {
      position: relative;

      &::before {
        content: '';
        display: block;
      }
    }

    &--standard {
      &::before {
        padding: 75% 0 0;
      }
    }

    &--wide {
      &::before {
        padding: 56.25% 0 0;
      }
    }

    &__figure {
      @include _transition(filter);

      > img {
        position: relative;
        height: 100%;
        width: 100%;
        object-fit: contain;
        object-position: 50% 50%;
      }

      &__dummy {
        position: relative;
        background-color: $_color-gray; // For IE11
        background-color: _var-color-gray();

        &::before {
          content: '';
          display: block;
          padding: 56.25% 0 0;
        }
      }

      &__mask {
        @include _position(absolute, 0, 0, 0, 0);
        background-color: $_color-black; // For IE11
        background-color: _var-color-black();
      }
    }

    &__body {
      @include _position(absolute, 0, 0, 0, 0);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include _padding(1);

      a {
        position: relative;
        z-index: 1;
      }
    }

    &__title {
      line-height: 1.4;
    }

    &__lede {
      @include _margin-top(.25);
      @include _font-size($_base-font-size-px - 4);
      line-height: 1.4;
    }

    &__action {
      font-size: 0 !important;

      > a::after {
        content: '';
        @include _position(absolute, 0, 0, 0, 0);
      }
    }
  }
}
