@charset 'utf-8';

@import '../../src/css/core/block';

.smb-items {
  a.smb-items__item {
    color: $_color-text;
    text-decoration: none;
    @include _transition(opacity);

    @include _hover(lg) {
      opacity: .8;
    }
  }

  &__item {
    display: block;

    &__figure {
      @include _margin-bottom(.5);
      text-align: center;
    }

    &__title {
      margin: 0;
      @include _font-size-line-height($_base-font-size-px);
      font-weight: bold;
    }

    &__lede {
      color: $_color-gray;
      @include _font-size-line-height($_base-font-size-px - 2);

      > a {
        color: $_color-gray;
      }
    }

    &__content {
      @include _margin-top(.25);
    }

    &__action {
      @include _margin-top(.5);
      text-align: center;
    }
  }

  &__banner {
    position: relative;
    display: block;
    text-decoration: none;
    overflow: hidden;
    background-color: #fff;
    color: #fff;

    @include _hover(lg) {
      .smb-items__banner__figure {
        filter: brightness(80%);
      }
    }

    &--blur {
      .smb-items__banner__figure > img {
        filter: blur(3px);
        height: calc(100% + 6px);
        width: calc(100% + 6px);
        max-height: none;
        max-width: none;
        margin: -3px;
        transform: translateZ(0);
      }
    }

    &--standard,
    &--wide {
      position: relative;

      &::before {
        content: '';
        display: block;
      }

      .smb-items__banner__figure {
        @include _position(absolute, 0, 0, 0, 0);

        > img {
          object-fit: cover;
        }

        &__dummy {
          @include _position(absolute, 0, 0, 0, 0);

          &::before {
            display: none;
          }
        }
      }
    }

    &--standard {
      &::before {
        padding: 75% 0 0;
      }
    }

    &--wide {
      &::before {
        padding: 56.25% 0 0;
      }
    }

    &__figure {
      @include _transition(filter);

      > img {
        position: relative;
        height: 100%;
        width: 100%;
        object-fit: contain;
        object-position: 50% 50%;
      }

      &__dummy {
        position: relative;
        background-color: $_color-gray;

        &::before {
          content: '';
          display: block;
          padding: 56.25% 0 0;
        }
      }

      &__mask {
        @include _position(absolute, 0, 0, 0, 0);
        background-color: #000;
      }
    }

    &__body {
      @include _position(absolute, 0, 0, 0, 0);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include _padding(1);
    }

    &__title {
      line-height: 1.4;
    }

    &__lede {
      @include _margin-top(.25);
      @include _font-size($_base-font-size-px - 4);
      line-height: 1.4;
    }
  }
}
