@charset 'utf-8';

@import '../../src/css/core/block';

.smb-tabs {
  &__tabs {
    position: relative;
    z-index: 1;
  }

  &__tab-wrapper {
    position: relative;
    display: flex;

    > .smb-tabs__tab {
      flex: 1 1 auto;
    }
  }

  &__tab {
    appearance: none;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;

    &[aria-selected="false"] {
      opacity: .5;
    }

    &[aria-selected="true"] {
      background-color: _var-color-white();
      border-color: _var-light-color-gray();
    }
  }
}

.smb-tab-panel {
  background-color: _var-color-white();
  border: 1px solid _var-light-color-gray();
  @include _padding(1);
  pointer-events: none !important;

  &[aria-hidden="true"] {
    display: none;
  }

  &__body {
    @include content();
    pointer-events: auto;
  }
}

.smb-tabs[data-orientation="horizontal"] {
  > .smb-tabs__tabs {
    margin-bottom: -1px;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;

    .smb-tabs__tab-wrapper {
      flex: 0 1 auto;
    }

    .smb-tabs__tab {
      @include _padding(.25, 1);
      white-space: nowrap;

      &[aria-selected="true"] {
        border-top-left-radius: _var-border-radius();
        border-top-right-radius: _var-border-radius();
        border-bottom-color: transparent;
      }
    }
  }

  &[data-tabs-justification="flex-start"] > .smb-tabs__tabs {
    justify-content: flex-start;
  }

  &[data-tabs-justification="center"] > .smb-tabs__tabs {
    justify-content: center;
  }

  &[data-tabs-justification="flex-end"] > .smb-tabs__tabs {
    justify-content: flex-end;
  }

  &[data-tabs-justification="stretch"] > .smb-tabs__tabs {
    justify-content: stretch;

    > .smb-tabs__tab-wrapper {
      flex: 1 1 auto;
    }
  }
}

.smb-tabs[data-orientation="vertical"] {
  display: flex;

  > .smb-tabs__tabs {
    margin-right: -1px;
    flex: 0 0 33%;
    max-width: 240px;

    .smb-tabs__tab {
      @include _padding(1);
      text-align: left;

      &[aria-selected="true"] {
        border-right-color: transparent;
      }
    }
  }

  > .smb-tabs__body {
    flex: 1 1 auto;
  }
}

.smb-tabs[data-match-height="true"] {
  > .smb-tabs__body {
    display: flex;
    overflow: hidden;

    > .smb-tab-panel {
      position: relative;
      flex: 1 0 100%;
      max-width: 100%;

      &[aria-hidden="true"] {
        display: block;
        visibility: hidden;
      }
    }
  }
}

.smb-tabs.is-style-simple {
  > .smb-tabs__tabs {
    .smb-tabs__tab {
      background-color: transparent;
      border: none;
      padding: 0;
    }
  }

  > .smb-tabs__body {
    > .smb-tab-panel {
      background-color: transparent;
      border: none;
      padding: 0;
    }
  }

  &[data-orientation="horizontal"] {
    > .smb-tabs__tabs {
      @include _margin-bottom(1);

      .smb-tabs__tab-wrapper {
        display: block;
      }

      .smb-tabs__tab-wrapper:not(:first-child) {
        @include _margin-left(1);
      }
    }
  }

  &[data-orientation="vertical"] {
    > .smb-tabs__tabs {
      @include _padding-right(1, true);

      .smb-tabs__tab-wrapper:not(:first-child) {
        @include _margin-top(1);
      }
    }
  }
}

.smb-tabs.is-style-line {
  > .smb-tabs__tabs {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      display: block;
      background-color: _var-light-color-gray();
    }

    .smb-tabs__tab {
      position: relative;
      background-color: transparent;
      border: none;

      &::after {
        content: '';
        position: absolute;
        z-index: 1;
        display: block;
        background-color: _var-color-black();
      }
    }
  }

  > .smb-tabs__body {
    > .smb-tab-panel {
      background-color: transparent;
      border: none;
    }
  }

  &[data-orientation="horizontal"] {
    > .smb-tabs__tabs {
      @include _margin-bottom(1);

      &::after {
        bottom: 0;
        right: 0;
        left: 0;
        height: 1px;
      }

      .smb-tabs__tab {
        &[aria-selected="true"] {
          &::after {
            bottom: 0;
            right: 0;
            left: 0;
            height: 1px;
          }
        }
      }
    }

    > .smb-tabs__body {
      > .smb-tab-panel {
        padding: 0;
      }
    }
  }

  &[data-orientation="vertical"] {
    > .smb-tabs__tabs {
      &::after {
        top: 0;
        bottom: 0;
        right: 0;
        width: 1px;
      }

      .smb-tabs__tab {
        padding-left: 0;

        &[aria-selected="true"] {
          &::after {
            top: 0;
            bottom: 0;
            right: 0;
            width: 1px;
          }
        }
      }
    }

    > .smb-tabs__body {
      > .smb-tab-panel {
        padding-right: 0;
      }
    }
  }
}
