@import '../../css/core/block';

.smb-list {
	ul {
		> li {
			&::before {
				content: '';
				position: absolute;
				top: 8px;
				left: -1.5em;
				@include _circle(10px);
				border: 2px solid currentColor
			}

			> .smb-list__icon {
				display: none;
			}
		}
	}
}
