@import '../../css/core/block';

.smb-list {
	ul {
		list-style: none !important;

		> li {
			position: relative;

			& + li {
				margin-top: var(--_margin-2);
			}

			.smb-list__icon {
				position: absolute;
				left: -1.5em;
			}
		}
	}
}
