.smb-list {
	--smb-list--gap: var(--_margin-2);

	ul {
		list-style: none !important;

		li + li,
		* > li:first-child {
			margin-top: var(--smb-list--gap);
		}

		> li {
			position: relative;

			.smb-list__icon {
				position: absolute;
				left: -1.5em;
			}
		}
	}
}
