@use '../../../node_modules/sass-basis/src/css/core';

.smb-testimonial {
	&__item {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;

		&__figure {
			flex: 0 0 auto;
			margin-top: calc(var(--_half-leading) * 1rem);
			margin-right: var(--_margin-1);
			@include core.circle(48px);

			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
				object-position: 50% 50%;
			}
		}

		&__body {
			flex: 1 1 auto;
			max-width: 100%;
		}

		&__name {
			@include core.set-font-size-level(-2);

			a {
				color: inherit;
			}
		}

		&__lede {
			@include core.set-font-size-level(-2);

			a {
				color: inherit;
			}
		}

		&__content {
			margin-bottom: var(--_margin-1);
			@include core.set-font-size-level(-1);

			&::after {
				margin-top: var(--_margin-1);
				content: '';
				display: block;
				height: 1px;
				width: 2rem;
				background-color: currentColor;
			}
		}
	}
}
