@mixin btn() {
	@include _btn();
	display: inline-flex;
	justify-content: center;
	background-color: var(--wp--preset--color--black);
	border: none;
	border-radius: var(--_border-radius);
	color: var(--wp--preset--color--white);
	padding: calc(var(--_padding1) * .5) var(--_padding1);
	max-width: 100%;
	@include _transition(all);

	@include _hover() {
		filter: brightness(90%);
	}
}
