.smb-balloon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include _media-min(md) {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  &__person {
    margin: 0 0 20px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    @include _media-min(md) {
      margin: 0 20px 0 0;
    }
  }

  &__figure {
    position: relative;
    flex: 0 0 60px;
    @include _circle(60px);
    max-width: 60px;
    border: 2px solid _lighter($_color-gray);

    > img {
      max-width: 100%;
      height: auto;
      padding: 0;
    }
  }

  &__name {
    margin-top: 5px;
    font-size: 12px;
    line-height: 1;
    white-space: nowrap;
  }

  &__body {
    @include content(.75);
    flex: 1 1 auto;
    border-radius: $_border-radius;
    word-break: break-all;
    @include _padding(.5);
    max-width: 100%;
    width: 100%;

    @include _top-balloon((
      background-color: #fff,
      border-color: _light($_color-gray),
      border-size: 1px,
    ));

    &::before,
    &::after {
      margin-left: 0;
      left: 24px;
    }

    @include _media-min(md) {
      max-width: calc(100% - 80px);
      @include _balloon-triangle(left, 10px, #fff, 1px, _light($_color-gray));
    }

    // Gutenberg
    > .editor-rich-text .editor-rich-text__tinymce {
      @include content(.75); // = wpac-baloon__body
    }
  }

  &--reverse {
    align-items: flex-end;

    @include _media-min(md) {
      flex-direction: row-reverse;
      align-items: center;
    }

    .smb-balloon__person {
      @include _media-min(md) {
        margin: 0 0 0 20px;
      }
    }

    .smb-balloon__body {
      &::before,
      &::after {
        left: auto;
        right: 24px;
      }

      @include _media-min(md) {
        @include _balloon-triangle(right, 10px, #fff, 1px, _light($_color-gray));
      }
    }
  }
}
