@charset 'utf-8';

@import '../../src/css/core/block';

.smb-balloon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include _media-min(md) {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  &__person {
    margin: 0 0 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    @include _media-min(md) {
      margin: 0 20px 0 0;
      flex-direction: column;
    }

    .smb-balloon__name {
      margin: 0 0 0 5px;

      @include _media-min(md) {
        margin: 5px 0 0 0;
      }
    }
  }

  &__figure {
    position: relative;
    flex: 0 0 60px;
    @include _circle(60px);
    max-width: 60px;
    border: 3px solid transparent;
    border-color: _lighter($_color-gray); // For IE11
    border-color: _var-lighter-color-gray();

    > img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }

  &__name {
    font-size: 12px;
    line-height: 1;
    white-space: nowrap;
  }

  &__body {
    position: relative;
    flex: 1 1 auto;
    border-radius: $_border-radius; //for IE11
    border-radius: _var-border-radius();
    color: $_color-text; // For IE11
    color: _var-color-text();
    overflow-wrap: break-word;
    @include _padding(1);
    max-width: 100%;
    width: 100%;

    background-color: _lightest($_color-gray); // For IE11
    background-color: _var-lightest-color-gray();
    border-color: _lightest($_color-gray); // For IE11
    border-color: _var-lightest-color-gray();

    @include _media-min(md) {
      max-width: calc(100% - 80px);
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: -10px;
      left: 24px;
      margin-left: 0;
      height: 0;
      width: 0;
      border-color: transparent;
      border-bottom-color: inherit;
      border-style: solid;
      border-width: 0 5px 10px;

      @include _media-min(md) {
        top: 50%;
        left: -10px;
        margin-top: -5px;
        border-color: transparent;
        border-right-color: inherit;
        border-width: 5px 10px 5px 0;
      }
    }
  }

  &--reverse {
    align-items: flex-end;

    @include _media-min(md) {
      flex-direction: row-reverse;
      align-items: center;
    }

    .smb-balloon__person {
      @include _media-min(md) {
        margin: 0 0 0 20px;
      }

      .smb-balloon__name {
        margin-right: 5px;
        order: -1;

        @include _media-min(md) {
          margin-right: 0;
          order: initial;
        }
      }
    }

    .smb-balloon__body {
      &::after {
        left: auto;
        right: 24px;

        @include _media-min(md) {
          right: -10px;
          border-color: transparent;
          border-left-color: inherit;
          border-width: 5px 0 5px 10px;
        }
      }
    }
  }
}
