@use '../../../node_modules/sass-basis/src/css/core';

.smb-items {
	--smb-items--style--boundary-line--border-color: var(--_lighter-color-gray);
	--smb-items--style--border--border-color: var(--_lighter-color-gray);

	--smb-items--banner--color: var(--wp--preset--color--white);
	--smb-items--banner--mask-color: var(--wp--preset--color--black);
	--smb-items--banner--mask-image: initial;
	--smb-items--banner--mask-opacity: 1;

	&--glue {
		> .c-row {
			--_gap: var(--_margin1);

			margin-right: 0;
			margin-left: 0;

			> .c-row__col {
				padding-right: 0;
				padding-left: 0;
			}
		}
	}

	&--fill {
		> .c-row {
			> .c-row__col {
				display: flex;
				flex-direction: column;

				> .smb-items__item {
					flex: 1 1 0%;
					display: flex;
					flex-direction: column;
				}

				.smb-items__item__body {
					flex: 1 1 0%;
					display: flex;
					flex-direction: column;
				}

				.smb-items__item__body > :last-child,
				.smb-items__item__body.block-editor-block-list__layout > :nth-last-child(2) {
					margin-top: auto;
					margin-bottom: 0;
				}
				.smb-items__item__body.block-editor-block-list__layout > :last-child {
					margin-top: 0;
					margin-bottom: 0;
				}
			}
		}
	}

	a.smb-items__item {
		color: inherit;
		text-decoration: none;
		@include core.transition(opacity);

		@include core.hover() {
			opacity: .8;
		}
	}

	&__item {
		display: block;
		position: relative;
		padding: 0;

		&.has-background {
			> .smb-items__item__figure {
				margin-bottom: 0;
			}

			> .smb-items__item__body {
				padding: var(--_padding1);
			}
		}

		&__figure {
			text-align: center;
		}

		&__title {
			margin: 0;
			@include core.set-fluid-font-size-level(2);
			font-weight: bold;
		}

		&__lede {
			@include core.set-font-size-level(-1);

			> a {
				color: inherit;
			}
		}

		&__action {
			text-align: center;
		}

		&--block-link {
			:not(.smb-items__item__action) a {
				position: relative;
				z-index: 1;
			}

			.smb-items__item__action {
				a {
					filter: none !important; // Patch to blink

					// Fallback
					&::after {
						content: '';
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
					}
				}
			}
		}

		a.smb-items__item--block-link {
			display: block;
			color: inherit;
		}

		&--free {
			> .smb-items__item__body {
				padding: 0;
			}
		}
	}
}

.smb-items__item__figure:not(:last-child) {
	margin-bottom: var(--_margin-1);
}

* + .smb-items__item__content {
	margin-top: var(--_margin-2);
}

.smb-items__item__content:not(:last-child) {
	margin-bottom: var(--_margin-1);
}

* + .smb-items__item__action {
	margin-top: var(--_margin-1);
}

.smb-items__banner {
	position: relative;
	overflow: hidden;
	color: var(--smb-items--banner--color);

	@include core.hover() {
		.smb-items__banner__figure {
			filter: brightness(80%);
		}
	}

	// @deprecated start
	&[class*="has-text-align-"] {
		text-align: initial;

		.smb-items__banner__body {
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}
	&.has-text-align-left .smb-items__banner__body { align-items: flex-start; }
	&.has-text-align-center .smb-items__banner__body { align-items: center; }
	&.has-text-align-right .smb-items__banner__body { align-items: flex-end; }
	// @deprecated end

	&--left {
		.smb-items__banner__body-inner {
			text-align: left;
		}
	}

	&--center {
		.smb-items__banner__body-inner {
			text-align: center;
		}
	}

	&--right {
		.smb-items__banner__body-inner {
			text-align: right;
		}
	}

	&--blur {
		.smb-items__banner__figure {
			overflow: hidden;

			> img {
				filter: blur(3px);
				height: calc(100% + 6px);
				width: calc(100% + 6px);
				max-height: none;
				max-width: none;
				margin: -3px;
				transform: translateZ(0);
			}
		}
	}

	&--standard,
	&--contents,
	&--wide,
	&--vstandard,
	&--vwide {
		.smb-items__banner__figure {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			> img {
				object-fit: cover;
			}

			&__dummy {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;

				&::before {
					display: none;
				}
			}
		}
	}

	&--contents {
		.smb-items__banner__body {
			position: relative;
		}
	}

	&--standard,
	&--wide,
	&--vstandard,
	&--vwide {
		position: relative;

		&::before {
			content: '';
			display: block;
		}
	}

	&--standard {
		&::before {
			padding: 75% 0 0;
		}
	}

	&--wide {
		&::before {
			padding: 56.25% 0 0;
		}
	}

	&--vstandard {
		max-height: 100vh;

		&::before {
			padding: 133.33333% 0 0;
		}
	}

	&--vwide {
		max-height: 100vh;

		&::before {
			padding: 177.77777% 0 0;
		}
	}

	&__figure {
		@include core.transition(filter);

		> img {
			position: relative;
			display: block;
			height: 100%;
			width: calc(100% + 1px);
			max-width: none;
			object-fit: cover;
			object-position: 50% 50%;
			opacity: var(--smb-items--banner--mask-opacity);
		}

		&__dummy {
			position: relative;
			background-color: var(--_color-gray);
			opacity: var(--smb-items--banner--mask-opacity);

			&::before {
				content: '';
				display: block;
				padding: 56.25% 0 0;
			}
		}

		&__mask {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: var(--smb-items--banner--mask-color);
			background-image: var(--smb-items--banner--mask-image);
		}
	}

	&__body {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding: var(--_padding1);

		a {
			position: relative;
			z-index: 1;
		}
	}

	&__title {
		line-height: 1.4;
	}

	&__lede {
		margin-top: var(--_margin-2);
		@include core.set-font-size-level(-2);
	}

	&__action {
		position: static !important;
		font-size: 0 !important;

		> a {
			position: static !important;
		}

		> a::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}

		> a:focus::after {
			outline: -webkit-focus-ring-color auto 1px;
			outline-offset: -2px;
		}
	}
}

.is-style-boundary-line.smb-items {
	overflow: hidden; // Remove the border of the leftmost item.

	> .c-row {
		&--margin {
			margin-right: calc(-1 * var(--_gap));
			margin-left: calc(-1 * var(--_gap));

			> .c-row__col {
				padding-right: var(--_gap);
				padding-left: var(--_gap);
			}
		}

		> .c-row__col {
			border-left: 1px solid var(--smb-items--style--boundary-line--border-color);
		}
	}
}

.is-style-border.smb-items {
	border: 1px solid var(--smb-items--style--border--border-color);
	overflow: hidden; // Remove the border of the leftmost/bottommost item.

	> .c-row {
		margin: 0;

		&--margin {
			margin-right: -1px;
			margin-bottom: -1px;
			margin-left: 0;

			> .c-row__col {
				padding: var(--_gap);
			}
		}

		> .c-row__col {
			margin-top: -1px;
			margin-bottom: 0;
			border-bottom: 1px solid var(--smb-items--style--border--border-color);
			border-right: 1px solid var(--smb-items--style--border--border-color);
		}
	}
}

:where(.smb-items__item__body.is-layout-constrained > *) {
	--wp--style--global--content-size: 100%;
	--wp--style--global--wide-size: 100%;
}
