@charset 'utf-8';

@import '../../src/css/core/block';
@import 'settings';

.smb-alert {
  @include _alert();
  background-color: $alert-color;
  border: 1px solid darken($alert-color, 5%);
  border-radius: $_border-radius;
  color: darken(desaturate($alert-color, 60%), 70%);
  @include _padding(1);

  .svg-inline--fa {
    color: darken($alert-color, 40%);
  }

  &--warning {
    background-color: adjust-hue($alert-color, -30deg);
    border-color: adjust-hue(darken($alert-color, 5%), -30deg);
    color: adjust-hue(darken(desaturate($alert-color, 60%), 80%), -30deg);

    .svg-inline--fa {
      color: adjust-hue(darken($alert-color, 40%), -30deg);
    }
  }

  &--success {
    background-color: adjust-hue($alert-color, 40deg);
    border-color: adjust-hue(darken($alert-color, 10%), 40deg);
    color: adjust-hue(darken(desaturate($alert-color, 70%), 80%), 40deg);

    .svg-inline--fa {
      color: adjust-hue(darken($alert-color, 50%), 40deg);
    }
  }

  &--remark {
    background-color: _lightest($_color-gray);
    border-color: _lighter($_color-gray);
    color: $_color-text;

    .svg-inline--fa {
      color: $_color-gray;
    }
  }

  &__body {
  }

  &__title {
    position: relative;
    display: flex;
    align-items: center;
    @include _margin-bottom(.25);

    .svg-inline--fa {
      flex: 0 0 0%;
      position: relative;
      top: -1px;
      @include _margin-right(.25);
      @include _font-size-line-height($_base-font-size-px * 1.5);
    }
  }
}
