@charset 'utf-8';

@import '../../src/css/core/block';

.smb-information {
  &__item {
    margin-top: 0;
    margin-bottom: 0;

    > .#{ $_prefix }c-row {
      > .#{ $_prefix }c-row__col:first-child {
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__body {
    > *:not(:first-child) {
      @include _margin-top(1);
    }
  }

  &:not([data-sm-split-column="true"]) {
    .smb-information__item {
      &__body {
        @include _margin-top(.5);

        @include _media-min(md) {
          margin-top: 0;
        }
      }
    }
  }

  &:not([data-sm-split-column="true"]) {
    &[data-label-align="right"] {
      .smb-information__item__label {
        @include _media-min(md) {
          text-align: right;
        }
      }
    }

    &[data-label-vertical-align="middle"] {
      .smb-information__item {
        > .#{ $_prefix }c-row {
          > .#{ $_prefix }c-row__col:first-child {
            @include _media-min(md) {
              justify-content: center;
            }
          }
        }
      }
    }
  }

  &[data-sm-split-column="true"] {
    &[data-label-align="right"] {
      .smb-information__item__label {
        text-align: right;
      }
    }

    &[data-label-vertical-align="middle"] {
      .smb-information__item {
        > .#{ $_prefix }c-row {
          > .#{ $_prefix }c-row__col:first-child {
            justify-content: center;
          }
        }
      }
    }
  }

  &.is-style-border {
    .smb-information__item {
      margin-top: 0;
      margin-bottom: 0;
      border: 1px solid transparent;
      border-color: _lighter($_color-gray); // For IE11
      border-color: _var-lighter-color-gray();

      &:not(:first-child) {
        margin-top: -1px;
      }

      &__body {
        margin-top: 0;
        @include _padding(.5);

        @include _media-min(md) {
          @include _padding(1);
        }
      }
    }

    &:not([data-sm-split-column="true"]) {
      .smb-information__item {
        > .#{ $_prefix }c-row {
          > .#{ $_prefix }c-row__col:last-child {
            border-top: 1px solid transparent;
            border-top-color: _lighter($_color-gray); // For IE11
            border-top-color: _var-lighter-color-gray();

            @include _media-min(md) {
              border-top: none;
              border-left: 1px solid transparent;
              border-left-color: _lighter($_color-gray); // For IE11
              border-left-color: _var-lighter-color-gray();
            }
          }
        }

        &__label {
          @include _padding(.25, .5);

          @include _media-min(md) {
            @include _padding(1);
          }
        }
      }
    }

    &[data-sm-split-column="true"] {
      .smb-information__item {
        > .#{ $_prefix }c-row {
          > .#{ $_prefix }c-row__col:last-child {
            border-left: 1px solid transparent;
            border-left-color: _lighter($_color-gray); // For IE11
            border-left-color: _var-lighter-color-gray();
          }
        }

        &__label {
          @include _padding(.5);

          @include _media-min(md) {
            @include _padding(1);
          }
        }
      }
    }
  }
}
